<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WhatsMiner</title>
  <link rel="stylesheet" href="..\css\rem.css">
  <link rel="stylesheet" href="css\header.css?v=2.020220805">
  <style>
    a.active ::after {
      content: '';
      width: 100%;
      height: 0.066667rem;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: #4d66ff;
    }

    .wrap .nav-wrap a.active span {
      color: #4d66ff;
    }
  </style>
</head>

<body>
  <header>
    <div class="head-wrap" id="app" v-cloak="">
      <div class="nav-logo-body">
        <base target="_top">
        <!-- logo -->
        <a href="..\..\index.html" class="logo-wrap" v-cloak="">
          <img src="..\..\static\logo-black.png" :alt="isEn? `WhatsMiner` : `比特微`" class="logo">
        </a>
      </div>
      <!-- 导航的容器 -->
      <div class="nav-right-body">
        <div class="nav-wrap" v-cloak="">
          <a target="_blank" :href="'../../src/views/'+(productType=='sample'?'product':'products')+'.html'" data-id="1"><span>Product</span></a>
          <a href="..\..\src\views\advantage.html" data-id="2"><span>Advantage</span></a>
          <a href="..\..\src\views\support.html" data-id="3"><span>Support</span></a>
          <a href="..\..\src\views\dynamic.html" data-id="4"><span>News</span></a>
          <a href="..\..\src\views\contact.html" data-id="5"><span>Contact Us</span></a>
        </div>
        <!-- 切换中英文 -->
        <a v-cloak="" href="..\..\src\views\shoppingCart.html" class="shopping-cart-wrap" :class="{isLogin : isLogin,'shopping-btn':productType}" v-if="productType!='sample'">
          <img src="..\..\static\icon\shopping-cart.png" class="shopping-cart">
          <span>Cart</span>
        </a>
        <div @click="handleLogin" v-cloak="" class="login" v-show="!isLogin"><span>Login</span></div>
        <!-- 登录后的我的账户部分 -->
        <div class="menu_wrap" v-show="isLogin" v-cloak="">
          <div class="menu_button" @click="handleToPersonal">My account</div>
          <span class="sign_out" @click="handleSignOut">Sign Out</span>
        </div>
      </div>
    </div>
  </header>
  <script src="..\js\vue.js"></script>
  <script src="..\axios\dist\axios.min.js"></script>
  <script src="..\js\request.js"></script>
  <script src="..\js\prodDeterminer.js?v=2.020220805"></script>
  <script>
    window.onload = function () {
      let navs = document.querySelectorAll('.nav-wrap a'),
        navId = localStorage.getItem('navId');
      navs.forEach(item => {
        // 先清空所有导航的类名
        item.className = '';
        // 判断当前是哪个导航
        if (item.getAttribute('data-id') == navId) {
          item.className = 'active';
        }
        // 点击导航的回调
        item.addEventListener('click', function () {
          localStorage.setItem('navId', this.getAttribute('data-id'));
        });
      });
      if (localStorage.getItem('isEn')) {
        var lang = JSON.parse(localStorage.getItem('isEn'));
      }
    };
    Vue.config.productionTip = false;
    new Vue({
      mixins:[productDeterminer],
      el: '#app',
      data() {
        return {
          isEn: true,
          // 是否登录
          isLogin: false
        };
      },
      created() {
        // 国际化
        if (localStorage.getItem('isEn')) {
          // JSON.parse会把值转成布尔值这里，会把if的判断直接给覆盖掉！！！！！！！！！！！！
          // this.isEn = JSON.parse(localStorage.getItem('isEn'));
          JSON.parse(localStorage.getItem('isEn')) == null ? this.isEn = true : this.isEn = JSON.parse(localStorage
            .getItem('isEn'));
        }
        // 判断是否登录
        if (localStorage.token && localStorage.userInfo) {
          this.isLogin = true;
        } else {
          // 没有登录
          this.isLogin = false;
        }
      },
      mounted() {

        window.onstorage = e => {
          if (e.key == 'isEn') {
            this.isEn = JSON.parse(e.newValue);
          } else if (e.key == 'navId') {
            let navId = e.newValue;
            let navs = document.querySelectorAll('.nav-wrap a');
            navs.forEach(item => {
              // 先清空所有导航的类名
              item.className = '';
              // 判断当前是哪个导航
              if (item.getAttribute('data-id') == navId) {
                item.className = 'active';
              }
            });
          }
          if (e.key == 'userInfo' || e.key == 'token') {
            if (!localStorage.getItem('userInfo') || !localStorage.getItem('token')) {
              this.isLogin = false;
            }
          }
        };
      },
      methods: {
        changeLang(isEn) {
          this.isEn = isEn;
          localStorage.setItem('isEn', JSON.stringify(isEn));
        },
        handleLogin() {
          // 记录旧的href
          try {
            if (parent.location) {
              sessionStorage.setItem('prevNav', parent.location.href);
            }
          } catch (error) {
            console.log(error);
          }
          open('../../src/views/login.html', '_top');
        },
        // 点击我的账户的回调
        handleToPersonal() {
          open('../../src/views/personal.html', '_top');
        },
        // 点击退出的回调
        handleSignOut() {
          this.isLogin = false;
          localStorage.removeItem('userInfo');
          localStorage.removeItem('token');
          try {
            parent.location.reload();
          } catch (error) {
            console.log(error);
          }
        }
      }
    });
  </script>
</body>

</html>