<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>导航条</title>
  <link rel="stylesheet" href="..\css\rem.css">
  <link rel="stylesheet" href="css\nav-bar.css">
</head>

<body>
  <base target="_top">
  <div id="app" v-cloak="">
    <ul v-cloak="">
      <li>
        <a href="..\..\src\views\personal.html" class="nav-item" data-id="1">{{isEn? `Personal Center` :`个人中心`}}</a>
      </li>
       <li v-if="productType!='sample'">
        <a href="..\..\src\views\order-center.html" class="nav-item" data-id="2">{{isEn? `Order Center` : `订单中心`}}</a>
      </li>

      <li>
        <a href="..\..\src\views\personal_repairOrder.html" class="nav-item" data-id="3">{{isEn? `Repair Order` : `维修工单`}}</a>
      </li>
      <li>
        <a href="..\..\src\views\personal_after_sales_service.html" class="nav-item" data-id="4">{{isEn? `After Sales Service Application` : `售后服务申请`}}</a>
      </li>
      <!-- <li>
        <a href="JavaScript:;" class="nav-item" data-id="5">{{isEn? `Invoice` : `发票`}}</a>
      </li>
      <li>
        <a href="JavaScript:;" class="nav-item" data-id="6">{{isEn? `Coupon` : `优惠券`}}</a>
      </li> -->
      <li>
        <a href="..\..\src\views\personal_message.html" class="nav-item" data-id="7">{{isEn? `Message` : `消息`}}</a>
      </li>
    </ul>
  </div>
  <script src="..\js\vue.js"></script>
  <script src="..\axios\dist\axios.min.js"></script>
  <script src="..\js\request.js"></script>
  <script>
    Vue.config.productionTip = false;
    window.vm = new Vue({
      el: '#app',
      data() {
        return {
          isEn: true,
          productType: '',
        };
      },
      created() {
        this.isEn = JSON.parse(localStorage.getItem('isEn'));
        window.onstorage = (e) => {
          if (e.key == 'isEn') {
            this.isEn = JSON.parse(e.newValue);
          }
          // console.log(this, e.newValue);
        };
        axios.get("/renren-fast/app/getProductType").then(res => {
            if (res.status == 200 && res.data.code == 0) {
                this.productType = res.data.productType;
                localStorage.setItem("productType", this.productType)
            }
        });
      },
    });
    window.onload = function () {
      let navs = document.querySelectorAll('.nav-item');
      let id = localStorage.getItem('nav-bar-id');
      navs.forEach((item) => {
        item.className = 'nav-item';
        if (item.dataset.id == id) {
          item.className += ' active';
        }
        item.addEventListener('click', (e) => {
          // 设置localStorage的id
          localStorage.setItem('nav-bar-id', e.path[0].dataset.id);
          // 获取当前id
          let currentId = localStorage.getItem('nav-bar-id');
          // 设置类名
          navs.forEach((item) => {
            item.className = 'nav-item';
            if (item.dataset.id == currentId) {
              console.log(item);
              item.className += ' active';
            }
          });
        });
      });
    };
  </script>
</body>

</html>