/* @media screen and (min-width: 320px) {
  html {
    font-size: 10px;
  }
}

@media screen and (min-width: 480px) {
  html {
    font-size: 12px;
  }
}

@media screen and (min-width: 640px) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 800px) {
  html {
    font-size: 16px;
  }
}

@media screen and (min-width: 960px) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: 1120px) {
  html {
    font-size: 20px;
  }
} */

@media screen and (min-width: 1280px) {
  html {
    font-size: 22px;
  }
}

@media screen and (min-width: 1440px) {
  html {
    font-size: 24px;
  }
}

@media screen and (min-width: 1600px) {
  html {
    font-size: 26px;
  }
}

@media screen and (min-width: 1760px) {
  html {
    font-size: 28px;
  }
}

@media screen and (min-width: 190px) {
  html {
    font-size: 30px;
  }
}

* {
  padding: 0;
  margin: 0;
}

body::-webkit-scrollbar {
  width: 0.2667rem;
  background: #f1f1f1;
  border-radius: 0.1333rem;
}

body::-webkit-scrollbar-thumb {
  background: #bbbbbb;
  /* background: linear-gradient(#00dbde 0%, #fc00ff 100%); */
  width: 0.2667rem;
  border-radius: 0.1333rem;
}

html {
  /* overflow-x: hidden; */
  /* font-size: 1.5625vw !important; */
  line-height: 1.2;
}

iframe.nav-bar::-webkit-scrollbar {
  display: none;
}

/* overflow-y: hidden; */

body {
  font-family: "PingFangTC-Regular", "PingFangTC", "微软雅黑";
}

textarea::placeholder {
  font-family: "PingFangTC-Regular", "PingFangTC";
}

video {
  vertical-align: top;
}

[v-cloak] {
  display: none !important;
}

.tab_back,
.tab_bar {
  display: none;
}

.commonm_wrap {
  box-sizing: border-box;
  min-height: 440px;
  max-height: 700px;
}

ul {
  padding: 0;
  list-style: none;
}

.menu_list.active {
  max-height: 5rem;
}

/* 菜单的每一项 */
.menu_item {
  padding: 0.5rem 1rem;
  background-color: #fff;
  font-size: 0.6rem;
  color: #4d66ff;
  line-height: 0.833333rem;
  cursor: pointer;
}

@media screen and (min-width: 750px) {
  html,
  body,
  #app {
    min-width: 1300px;
  }
}
@media screen and (min-width: 0px) and (max-width: 750px) {
  /* html {
    font-size: 1.5625vw;
  } */

  * {
    padding: 0;
    margin: 0;
  }

  .message-wrap {
    display: none;
  }

  .tab_back {
    display: unset;
  }

  input {
    outline: none;
    border: none;
  }

  input:focus-visible {
    border: none;
    outline: none;
    /* border: 0.1667rem solid #4d66ff; */
  }
}

a {
  text-decoration: none;
}

input[type="button"] {
  border: none;
}

iframe.header {
  border-bottom: 0.0333rem solid #d8d8d8;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  background-color: #fff;
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -ms-transition: transform 0.5s;
  -o-transition: transform 0.5s;
  transform: translateY(0%);
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
}

iframe.nav_hide {
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
}

input,
textarea {
  font-family: "PingFangTC 微软雅黑";
}

/* *::-webkit-scrollbar {
  width: .2667rem;
  background: #f1f1f1;
  border-radius: .1333rem;
}

*::-webkit-scrollbar-thumb {
  width: .2667rem;
  background: #bbbbbb;
  border-radius: .1333rem;
} */
@media screen and (min-width: 75px) {
  .none {
    display: none;
  }

  /* 消息容器 */
  .message-wrap {
    position: absolute;
    top: 3rem;
    left: 0;
    /* animation: moves 0.5s ease infinite; */
    z-index: 10;
    width: 100%;
    height: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
  }

  /* 小喇叭 */
  .message-wrap .horn {
    width: 0.8rem;
    height: 0.8rem;
  }

  /* 中间部分 */
  .message-wrap .animate_set {
    position: relative;
    /* transform: translateX(-100%); */
    width: 75%;
    text-align: center;
    display: flex;
    align-items: center;
    padding-left: 0.8rem;
    overflow: hidden;
  }

  /* 关闭消息按钮 */
  .message-wrap .close-button {
    width: 0.8rem;
    height: 0.8rem;
    cursor: pointer;
  }

  /* 消息文字 */
  .message-wrap .message {
    /* border: 1px solid red; */
    transform: translateX(1278px);
    max-width: fit-content;
    margin-left: 0.4rem;
    color: #ccc;
    font-size: 0.533333rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    animation: example 35s linear infinite;
  }

  @keyframes example {
    0% {
      transform: translateX(1278px);
    }

    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes moves {
    0% {
      background-color: #fff;
    }

    10% {
      background-color: pink;
    }

    30% {
      background-color: green;
    }

    40% {
      background-color: #000;
    }

    350% {
      background-color: red;
    }

    60% {
      background-color: yellow;
    }

    70% {
      background-color: skyblue;
    }

    80% {
      background-color: sienna;
    }

    90% {
      background-color: slateblue;
    }

    100% {
      background-color: purple;
    }
  }
}

/* google、safari */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}

/* 火狐 */
input[type="number"] {
  -moz-appearance: textfield;
}
