@import url(../../css/rem.css);
/* 全局容器 */
.container-fluid {
  height: 400px;
  width: 100%;
  min-width: 1300px;
  background-color: #000;
}
* {
  padding: 0;
  margin: 0;
}
/* 容器 */
.container {
  margin: 0 auto;
  padding: 50px 111px 100px 108px;
  box-sizing: border-box;
  position: relative;
  height: 399px;
  background-color: #000;
  color: #fff;
}
.wrap {
  width: inherit;
  display: flex;
  border-bottom: 1px solid #979797;
  margin-bottom: 26px;
}
.logo-wrap{

}
.wrap .logo {
  width: 217px;
  height: 53px;
  margin-right: 280px;
}
.wrap .right {
  flex:1;
  margin-bottom: 80px;
  display: flex;
}
.wrap .right .item {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.wrap .right .item span {
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  line-height: 24px;
  margin-bottom: 16px;
  white-space: nowrap;
}
.wrap .right .item span a {
  text-decoration: none;
  color: #fff;
}
.wrap .right .item span img {
  display: none;
}
.wrap .right .item div {
  font-size: 16px;
  line-height: 30px;
  opacity: 0.6;
}
.wrap .right .item div a {
  text-decoration: none;
  white-space: nowrap;
  color: #ffffff;
  display: inline-block;
  margin-right: 10px;
}
.wrap .right .item div a:hover {
  color:#409EFF;
  cursor: pointer;
}
.wrap .right .item .icon-wrap {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  opacity: 1;
}
.wrap .right .item .icon-wrap a img {
  width: 32px;
  height: 32px;
}
/* 底部的版权信息 */
.copyRight {
  display: flex;
  justify-content: space-between;
  color: #fff;
  opacity: 0.6;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  line-height: 19px;
  white-space: nowrap;
}
.copyRight span {
  display: inline-flex;
  align-items: center;
  text-overflow: ellipsis;
  overflow: hidden;
}
.copyRight ul {
  float: right;
  width: 265px;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  list-style: none;
  position: relative;
  top: 4px;
}
.copyRight .privacy_policy {
  display: inline-flex;
  align-items: center;
  margin-left: 8px;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 24px;
}
.copyRight .privacy_policy::before {
  display: inline-block;
  content: '';
  width: 16px;
  height: 16px;
  background: url(../../../static/foot_search.png) no-repeat 0 0 / 100% 100%;
}
@media screen and (max-width: 1600px) {
  .wrap .logo {
    width: 217px;
    height: 53px;
    margin-right: 80px;
  }
  .wrap .right .item {
    margin-left:50px;
    display: flex;
    flex-direction: column;
  }
  .container{
    padding: 50px 50px 100px 50px;
  }     
}
@media screen and (max-width: 1500px) {
  .copyRight {
    display: block;
  }  
  .copyRight ul{
    float: none;
    top: 10px;
  }
  .wrap .right .item span{
    font-size:16px;
  }
  .wrap .right .item div a,.copyRight span,.copyRight ul li,.copyRight .privacy_policy{
    font-size:14px;
  }
}