<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WhatsMiner</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link class="link_phone" rel="stylesheet" href="css\activity.css?v=2.020220908">
    <link rel="stylesheet" href="..\utils\utils.css">
    <link rel="icon" type="image/png" sizes="32x32" href="..\..\static\favicon.ico">
    <!-- 验证码程序依赖(必须)。请勿修改以下程序依赖，如使用本地缓存，或通过其他手段规避加载，会影响程序的正常使用。 -->
    <script src="https://ssl.captcha.qq.com/TCaptcha.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-227533464-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "UA-227533464-1");
    </script>
  </head>

  <body style="overflow-x: hidden">
    <div id="app">
      <iframe src="..\..\public\views\header.html" v-cloak="" frameborder="0" class="header" id="header"></iframe>
      <div class="message-wrap" v-cloak="" v-if="bannerInfo && bannerInfo.status == 1 && bannerInfo.streamerType == 0 && !isCloseMsg" ref="imgClose">
        <img src="..\..\static\icon\horn-active.png" alt="horn" class="horn">
        <div class="animate_set">
          <span class="message">{{isEn? bannerInfo.contentEn : bannerInfo.contentZh}}</span>
        </div>
        <img src="..\..\static\close-button.png" alt="close" @click="close" class="close-button">
      </div>
      <div class="no_end" v-cloak="" v-if="!isEnd">
        <div class="registration_button_wrap" v-cloak="">
          <!-- 注册按钮 -->
          <div class="registration_button" @click="handleClickButton" v-if="activity.buttonContent">
            <span>{{activity.buttonContent}}</span>
            <img src="..\..\static\more-white.png">
          </div>
        </div>
        <!-- 下面图片的容器 -->
        <div class="img-wrap" v-cloak="" v-if="activity.pics && activity.pics.length">
          <img :src="item" v-for="(item,index) in activity.pics" :key="index">
        </div>
        <div class="img-wrap_phone" v-cloak="" v-if="activity.picsMove && activity.picsMove.length">
          <img :src="item" v-for="(item,index) in activity.picsMove" :key="index">
        </div>
        <!-- 弹框部分 -->
        <!-- 注册的弹框 -->
        <div class="bg" v-cloak="" v-show="isShowRegister" @mousedown.self="isShowRegister=false;isShowUserAgreement=false">
          <div class="register-wrap" v-if="!isShowUserAgreement">
            <h1>{{isEn? `Sign up` : `注册`}}</h1>
            <!-- 用户名 -->
            <input type="text" :placeholder="isEn? `Name` : `用户名`" class="name" autofocus="" v-model.trim="dataForm.username" @blur="verification">
            <!-- 联系电话 -->
            <input type="tel" :placeholder="isEn? `Contact phone number` : `联系电话`" class="contact-phone-number" v-model.trim="dataForm.mobile" oninput="if(value && value.length>11)value=value.slice(0,11)" min="0" @blur="verification">
            <!-- 邮箱 -->
            <input type="email" :placeholder="isEn? `Email` : `邮箱`" class="email" v-model.trim="dataForm.email" @blur="verification">
            <!-- 发送按钮 -->
            <input type="button" :value="(isEn? 'Send':'发送') +` `+ time" class="send-button" ref="TencentWater2" data-appid="2065634367" :disabled="isDisabled">
            <!-- 验证码 -->
            <input type="text" maxlength="6" :placeholder="isEn? `Verification code`:`验证码`" class="verification-code" v-model.trim="dataForm.emailCode" @blur="verification">
            <!-- 密码 -->
            <input type="password" :placeholder="isEn? `Password`: `密码` " class="password" v-model.trim="dataForm.password" @blur="verification">
            <!-- 再次输入密码 -->
            <input type="password" :placeholder="isEn? `Enter the password again` : `再次输入密码`" class="enter-the-password-again" @blur="verification" v-model="passwordAgain">
            <!-- User agreement 容器 -->
            <div class="user-agreement-wrap">
              <input type="checkbox" v-model="checkbox" id="checkbox" class="checkbox_buttom">
              <label for="checkbox"></label>
              <a href="JavaScript:;" @click="isShowUserAgreement = true" class="user-agreement">{{isEn? 'User agreement' : '用户协议'}}</a>
            </div>
            <!-- 注册按钮 -->
            <input type="button" class="register-button" :value="isEn? `Register` : `注册`" @click="submit" ref="submit">
            <!-- 现在登录 -->
            <a href="JavaScript:;" class="sign-up-now" @click="handleSignIn">{{isEn? 'Sign in now' : '现在登录'}}</a>
          </div>
          <!-- 用户协议 -->
          <div class="wrap user_agreement" v-cloak="" v-else="">
            <h3 class="title">{{isEn? userAgrementData.titleEn : userAgrementData.titleCn}}</h3>
            <!-- 内容部分 -->
            <div class="content" v-html="isEn? userAgrementData.policyEn : userAgrementData.policyCn"></div>
            <!-- 返回按钮 -->
            <div class="return_button" @click="isShowUserAgreement = false">{{isEn? `Return` : `返回`}}</div>
          </div>
        </div>
        <!-- 登录的弹框 -->
        <div class="bg" v-cloak="" v-show="isShowLogin" @mousedown.self="isShowLogin=false">
          <div class="login-wrap">
            <h1>{{isEn? 'log in' : '登录'}}</h1>
            <!-- 邮箱输入框 -->
            <input type="email" :placeholder="isEn? 'Email or Phone' : '邮箱或手机号码'" class="email" autofocus="" v-model="loginDataForm.email">
            <!-- 密码输入框 -->
            <input type="password" :placeholder="isEn? 'Password' : '密码'" class="password" v-model="loginDataForm.password">
            <!-- 忘记密码 -->
            <a href="javaScript:;" @click="handleForget" class="forget-password">{{isEn? 'Forget the password?' : '忘记密码'}}</a>
            <!-- 按钮 -->
            <input type="submit" class="sign-in-button" ref="TencentWater" data-appid="2065634367" :value="isEn? 'log in' : '登录'">
            <!-- 创建账户 -->
            <a href="JavaScript:;" target="_top" class="create-account pc" @click="handleCreateAccount">{{isEn? `No Account, Create Your WhatsMiner Account` : '没有帐户，请创建您的WhatsMiner帐户'}}</a>

            <a href="register.html" target="_top" class="create-account phone">
              <span>{{isEn? `No Account,` : `没有帐户，`}}</span>
              <br>
              <span>{{isEn? `reate Your WhatsMiner Account` : `请创建您的WhatsMiner帐户`}}</span>
            </a>
            <!-- or login with -->
            <!-- <span class="or-login-with">{{isEn? `or login with` : `或使用以下方式登录`}}</span> -->
            <!-- icon的容器 -->
            <!-- <div class="icon-wrap">
            <a href="JavaScript:;" onclick="checkLoginState" class="facebook-icon">
              <img src="../../static/bottom-facebook.png" />
            </a>
            <a href="JavaScript:;">
              <img src="../../static/bottom-twitter.png" />
            </a>
          </div> -->
          </div>
        </div>
        <!-- 报名的弹窗 -->
        <div class="bg" v-cloak="" v-if="isShowRegistration" @mousedown.self="handleClose">
          <div class="registration-wrap" v-show="!isShowPrivacyPolicy">
            <h3 class="title">{{isEn? `Registration information` : `登记信息`}}</h3>
            <!-- 输入框部分的容器 -->
            <div class="container">
              <img src="..\..\static\close-button.png" class="close-button" @click="handleClose">
              <el-form ref="form" :model="form" :rules="formRules" label-width="0">
                <!-- 个人和供应商单选框的容器 -->
                <el-radio-group v-model="activeType" class="radio_wrap" v-if="isSupplier">
                  <el-radio :label="0">{{isEn? `Personal` : `个人`}}</el-radio>
                  <el-radio :label="1">{{isEn? `Supplier` : `供应商`}}</el-radio>
                </el-radio-group>
                <!-- 姓名 -->
                <el-form-item class="phone_name" prop="name">
                  <el-input v-model="form.name" :placeholder="isEn? `Name` : `姓名`"></el-input>
                </el-form-item>
                <!-- 手机号部分 -->
                <div class="phone-wrap">
                  <!-- 手机号前缀 -->
                  <el-form-item class="phone-code">
                    <el-select v-model="form.internationalDistrictNum" @change="change" class="internationalDistrictNum">
                      <el-option :value="item.phonecode" v-for="item in internationalDistrictNum" :key="item.id"> </el-option>
                    </el-select>
                  </el-form-item>
                  <!-- 手机号码 -->
                  <el-form-item class="input_phone" prop="phone">
                    <el-input v-model="form.phone" :placeholder="isEn? `Contact phone number` : `联系电话`" type="number"> </el-input>
                  </el-form-item>
                </div>
                <!-- 邮箱 -->
                <el-form-item prop="email">
                  <el-input v-model="form.email" :placeholder="isEn? `Email` : `邮箱`"></el-input>
                </el-form-item>
                <!-- 动态渲染的表单 -->
                <div class="form-wrap">
                  <!-- 每一项 -->
                  <div class="item" v-for="(item,index) in (activeType == 0 ? formData : formData2)" :key="item.id">
                    <el-form-item :prop="item.fieldName">
                      <!-- 输入框 -->
                      <el-input v-model="form[item.fieldName]" v-if="item.fieldType == 1" :placeholder="item.fieldName"> </el-input>
                      <!-- 数字输入框 -->
                      <el-input v-model="form[item.fieldName]" :placeholder="item.fieldName" v-if="item.fieldType == 2" type="number"> </el-input>
                      <!-- 日期选择框 -->
                      <div v-if="item.fieldType == 3" class="date-picker">
                        <!-- <span>{{item.fieldName}} :</span> -->
                        <!-- <el-col :span="11">
                        <el-date-picker type="date" placeholder="选择日期" v-model="form[item.fieldName]"
                          style="width: 100%">
                        </el-date-picker>
                      </el-col>
                      <el-col class="line" :span="2">-</el-col>
                      <el-col :span="11">
                        <el-time-picker placeholder="选择时间" v-model="form[item.fieldName]" style="width: 100%">
                        </el-time-picker>
                      </el-col> -->
                        <el-date-picker type="date" value-format="yyyy-MM-dd" v-model="form[item.fieldName]" type="datetime" :placeholder="item.fieldName"> </el-date-picker>
                      </div>
                      <!-- 邮箱输入框 -->
                      <el-input v-model="form[item.fieldName]" v-if="item.fieldType == 4" :placeholder="item.fieldName" type="email"> </el-input>
                      <!-- 多行文本框 -->
                      <el-input class="input_textarea" type="textarea" v-model="form[item.fieldName]" v-if="item.fieldType == 5" :placeholder="item.fieldName"></el-input>
                      <!-- 单选按钮 -->
                      <div class="radio-wrap" v-if="item.fieldType==6">
                        <span>{{item.fieldName}} : </span>
                        <el-radio-group v-model="form[item.fieldName]">
                          <el-radio :label="options" v-for="(options,index) in item.options" :key="index"></el-radio>
                        </el-radio-group>
                      </div>
                      <!-- 多选按钮 -->
                      <div class="checkbox-wrap" v-if="item.fieldType == 7  && form[item.fieldName]">
                        <span>{{item.fieldName}} :</span>
                        <el-checkbox-group v-model="form[item.fieldName]">
                          <el-checkbox :label="options" v-for="(options,index) in item.options" :key="index" name="type"> </el-checkbox>
                        </el-checkbox-group>
                      </div>
                      <!-- 下拉选择框 -->
                      <div class="selector-wrap" v-if="item.fieldType==8">
                        <!-- <span>{{item.fieldName}} :</span> -->
                        <el-select v-model="form[item.fieldName]" :placeholder="item.fieldName">
                          <el-option :label="options" :value="options" v-for="(options,index) in item.options" :key="index"> </el-option>
                        </el-select>
                      </div>
                    </el-form-item>
                  </div>
                </div>
              </el-form>
            </div>
            <!-- 条款的容器 -->
            <div class="read-and-agree">
              <input type="checkbox" id="check" v-model="isRead">
              <label for="check"></label>
              <span>{{isEn? `I have read and agree` : `我已经阅读并同意`}}</span>
              <span class="privacy-policy" @click="isShowPrivacyPolicy=true">{{isEn? `Privacy policy` : `隐私政策`}}</span>
            </div>
            <div class="submit" @click="submitForm('form')">{{isEn? `submit` : `报名`}}</div>
            <span class="bottom">{{isEn? `Note: the registration is deemed to be successful upon receipt of email` : `注：在收到电子邮件通知后，注册视为成功`}} </span>
          </div>
          <!-- 隐私政策的弹窗 -->
          <div class="privacy_policy_wrap" v-if="isShowPrivacyPolicy">
            <h3 class="title">{{isEn? `Privacy policy` : `隐私政策`}}</h3>

            <p class="content" v-html="isEn? privacyPolicy.policyEn : privacyPolicy.policyCn"></p>
            <div class="return" @click="isShowPrivacyPolicy = false">{{isEn? `Return` : `返回`}}</div>
          </div>
        </div>
        <!-- 报名成功的弹窗 -->
        <div class="bg" v-cloak="" v-if="isShowRegistrationSuccess" @mousedown.self="isShowRegistrationSuccess=false">
          <div class="registration_success commonm_wrap">
            <img src="..\..\static\close-button.png" class="close-button" @click="isShowRegistrationSuccess = false;">
            <!-- 内容部分的容器 -->
            <div class="content">
              <img src="..\..\static\submit_success.png" class="submit_success" @click="isShowRegistrationSuccess = false">
              <p>{{isEn? `Submitted successfully，It will be reviewed as soon as possible` : `提交成功，将尽快审核`}}</p>
              <span>{{isEn? `Note: the registration is deemed to be successful upon receipt of email` : `注：在收到电子邮件通知后，报名视为成功`}}</span>
            </div>
          </div>
        </div>
      </div>
      <!-- 活动结束的图片 -->
      <div class="end" v-cloak="" v-if="isEnd">
        <img :src="activity.picsEnd || endImg.picsEnd" class="end_img">
      </div>
      <!-- 没有活动的时候显示 -->
      <div v-if="isNoActive" class="no_active">
        <img :src="endImg.picsEnd" class="endImg">
      </div>
      <!-- 移动端 -->
      <div class="end_phone" v-cloak="" v-if="isEnd">
        <img :src="endImgPhone.picsEndMove || endImg.picsMove" class="end_img">
      </div>
      <iframe src="..\..\public\views\footer.html" frameborder="0" class="footer" id="footer" v-cloak=""></iframe>
      <div class="tab_bar">
        <a href="..\..\index.html" class="tab_bar_item">
          <img src="..\..\static\tab_bar_home2.png" alt="">
        </a>
        <a href="product.html" class="tab_bar_item">
          <img src="..\..\static\tab_bar_product.png" alt="">
        </a>
        <a href="support.html" class="tab_bar_item">
          <img src="..\..\static\tab_bar_jishu2.png" alt="">
        </a>
        <a href="personal.html" class="tab_bar_item">
          <img src="..\..\static\tab_bar_personal%20.png" alt="">
        </a>
      </div>
    </div>
    <script src="..\..\public\js\vue.js"></script>
    <script src="..\..\public\axios\dist\axios.min.js"></script>
    <script src="..\..\public\js\request.js"></script>
    <script src="..\utils\utils.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="js\activity.js?v=2.020220908"></script>
    <!-- 国际化element -->
    <!-- <script src="//unpkg.com/vue"></script>
    <script src="//unpkg.com/element-ui"></script>
    <script src="//unpkg.com/element-ui/lib/umd/locale/en.js"></script>
    <script>
      ELEMENT.locale(ELEMENT.lang.en);
    </script> -->
  </body>
</html>
