<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WhatsMiner Products | MicroBT WhatsMiner M50S 126T,WhatsMiner wM50,WhatsMiner M53</title>
    <meta name="description" content="WhatsMiner is the leading brand for mining hardware, developed by MicroBT. This is our only official website for WhatsMiner products on WhatsMiner.com. Good price, better service.">
    <meta name="keywords" content="High Performance ASIC Miner,MicroBT WhatsMiner M30S++">
    <link class="link" rel="stylesheet" href="css\advantage.css?v=2.020220716">
    <link rel="icon" type="image/png" sizes="32x32" href="..\..\static\favicon.ico">
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-227533464-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	
	  gtag('config', 'UA-227533464-1');
	</script>
  </head>

  <body>
    <div id="app">
      <iframe src="..\..\public\views\header.html" frameborder="0" class="header" id="header"></iframe>
      <div class="message-wrap" v-cloak="" v-if="bannerInfo && bannerInfo.status == 1 && bannerInfo.streamerType == 0 && !isCloseMsg" ref="imgClose">
        <img src="..\..\static\icon\horn-active.png" alt="horn" class="horn">
        <div class="animate_set">
          <span class="message">{{isEn? bannerInfo.contentEn : bannerInfo.contentZh}}</span>
        </div>
        <img src="..\..\static\close-button.png" alt="close" @click="close" class="close-button">
      </div>
      <!-- 中间的内容区域容器 -->
      <main class="wrap common" v-cloak="" v-if="allData.length">
        <!-- 每一项的容器 -->
        <div class="item-wrap" v-for="item in allData">
          <img class="img_pc" :src="isEn? item.picEn : item.picZh" :alt="isEn? item?.enAlt : item?.zhAlt">
          <img class="img_phone" :src="isEn? item.picMoveEn : item.picMoveZh" alt="">
          <!-- 文字部分的容器 -->
          <div class="content">
            <h3>{{isEn? item.titleEn : item.titleZh}}</h3>
            <p>{{isEn? item.introductionEn : item.introductionZh}}</p>
          </div>
        </div>
      </main>
      <iframe src="..\..\public\views\footer.html" frameborder="0" class="footer" id="footer"></iframe>
    </div>
  </body>
  <script src="..\..\public\axios\dist\axios.min.js"></script>
  <script src="..\..\public\js\request.js"></script>
  <script src="..\..\public\js\vue.js"></script>
  <script src="js\advantage.js?v=2.020220805"></script>
</html>
