<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WhatsMiner M50S,WhatsMiner Hydro-Cooling</title>
    <meta name="keywords" content="WhatsMiner M50S,WhatsMiner M30S++,WhatsMiner Hydro-cooling">
    <meta name="description" content="Check the latest news at WhatsMiner.com to know update about WhatsMiner and MicroBT.">
    <link rel="stylesheet" href="..\..\public\css\reset.css">
    <link rel="stylesheet" class="link" href="css\dynamic.css?v=2.020220807">
    <link rel="icon" type="image/png" sizes="32x32" href="..\..\static\favicon.ico">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-227533464-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-227533464-1");
    </script>
  </head>

  <body ontouchstart="">
    <div id="app">
      <!-- 顶部的导航栏 -->
      <iframe v-cloak="" src="..\..\public\views\header.html" frameborder="0" class="header" id="header"></iframe>

      <div class="message-wrap" v-cloak="" v-if="bannerInfo && bannerInfo.status == 1 && bannerInfo.streamerType == 0 && !isCloseMsg" ref="imgClose">
        <img src="..\..\static\icon\horn-active.png" alt="horn" class="horn">
        <div class="animate_set">
          <span class="message">{{isEn? bannerInfo.contentEn : bannerInfo.contentZh}}</span>
        </div>
        <img src="..\..\static\close-button.png" alt="close" @click="close" class="close-button">
      </div>
      <!-- <head-box></head-box> -->
      <!-- 内容区域的容器 -->
      <div class="wrap" v-cloak="">
        <!-- 面包屑 -->
        <h1>
          {{isEn? (current == 1? `News` : `Blog`) : (current == 1 ? `新闻` :
          `评测`)}}
        </h1>
        <!-- tabs -->
        <nav>
          <span :class="{active:current == 1}" @click="current = 1">{{isEn? `News` : `新闻`}}</span>
          <span :class="{active:current == 2}" @click="current = 2">{{isEn? `Blog` : `评测`}}</span>
        </nav>
        <!-- 新闻的容器 -->
        <main class="news_wrap">
          <div class="news-item" v-for="(item,index) in dynamicData" :key="index">
            <img :src=" isEn? item.pictureEn : item.pictureZh" class="news-img" :alt="isEn? item.altEn : item.altZh">
            <div class="content-wrap" @click="handleMore(item)">
              <p class="content">{{isEn? item.titleEn : item.titleZh}}</p>
              <div class="bottom">
                <span class="date">{{item.releaseTime}}</span>
                <div class="more-wrap">
                  <span class="more">{{isEn? 'More' : '更多'}}</span>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
      <!-- 底部 -->
      <iframe v-cloak="" src="..\..\public\views\footer.html" frameborder="0" class="footer" id="footer"></iframe>
    </div>
    <script src="..\..\public\js\vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="..\..\public\js\request.js"></script>
    <!-- <script src="../../public/comopnents/headBox.js"></script>
  <link rel="stylesheet" href="../../public/views/css/header.css" /> -->

    <script src="js\dynamic.js?v=2.020220807"></script>
  </body>
</html>
