<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WhatsMiner</title>
    <link rel="stylesheet" class="link" href="css\firmware-download.css">
    <link rel="icon" type="image/png" sizes="32x32" href="..\..\static\favicon.ico">
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-227533464-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-227533464-1");
    </script>
  </head>

  <body style="overflow: -Scroll; overflow-x: hidden">
    <div id="app">
      <iframe v-cloak="" src="..\..\public\views\header.html" frameborder="0" class="header" id="header"></iframe>
      <div class="message-wrap" v-cloak="" v-if="bannerInfo && bannerInfo.status == 1 && bannerInfo.streamerType == 0 && !isCloseMsg" ref="imgClose">
        <img src="..\..\static\icon\horn-active.png" alt="horn" class="horn">
        <div class="animate_set">
          <span class="message">{{isEn? bannerInfo.contentEn : bannerInfo.contentZh}}</span>
        </div>
        <img src="..\..\static\close-button.png" alt="close" @click="close" class="close-button">
      </div>
      <!-- 外层容器 -->
      <div class="wrap" :class="{wrap2 : currentState == 2}" v-cloak="">
        <!-- 内容区域的容器 -->
        <main class="main">
          <!-- 面包屑容器 -->
          <div class="crumbs-wrap">
            <a href="support.html">{{isEn? "Support" : '支持'}}</a>
            <span>{{isEn?'Technical Support':'技术支持'}}</span>
          </div>
          <!-- tabs -->
          <ul class="tabs-wrap">
            <li class="tabs" :class="{'active' : currentState == index+1 }" @click="changeState(index+1)" v-for="(item,index) in tabs" :key="item.id">
              {{isEn? item.nameEn : item.nameZh}}
            </li>
          </ul>
          <!-- 下面内容的容器 -->
          <div class="content-wrap">
            <!-- 固件下载 -->
            <div class="air-cooled-server" v-if="currentState == 1">
              <!-- 左边的导航栏 -->
              <ul class="tab-bar">
                <!-- 下拉选项 -->
                <li class="tab-item active" v-for="item in tabBar1" :key="item.id">
                  <span class="tabs" @click="handleSelect">{{isEn? item.nameEn : item.nameZh}}</span>
                  <div class="content" v-for="selectItem in item.children">
                    <div class="content-item" :class="{'active' : selectItem.id == currentFirmwareId}" @click="handleCheck(selectItem.id)">
                      <span>{{isEn? selectItem.nameEn : selectItem.nameZh}}</span>
                    </div>
                  </div>
                </li>
              </ul>
              <!-- 右边的容器 -->
              <div class="right-content">
                <!-- 顶部的信息标题容器 -->
                <div class="title-wrap">
                  <span class="file-name">{{isEn? `File Name` : `文件名`}}</span>
                  <!-- <span class="document-name">{{isEn? `Document Name` : `文档名`}}</span> -->
                  <span class="file-size">{{isEn? `File Size` : `文件大小`}}</span>
                  <span class="instruction">{{isEn? `Instruction` : `描述`}}</span>
                  <span class="release-time">{{isEn? `Update time` : `更新时间`}}</span>
                  <span class="operation">{{isEn? `Operation` : `操作`}}</span>
                </div>
                <!-- 内容的容器 -->
                <div class="main-wrap">
                  <div class="item" v-for="(item,index) in fileDate" :key="item.id">
                    <div class="file-name">
                      {{isEn? item.nameEn : item.nameZh}}
                    </div>
                    <!-- <div class="document-name">WhatsMiner-All-20210602.bin</div> -->
                    <div class="file-size">{{item.fileSize}}</div>
                    <div class="instruction">
                      <div class="text" v-html="isEn? item.fileInstructionEn : item.fileInstructionZh" :class="{active : item.id == currentId}"></div>
                      <span class="open" @click="handleOpen(item.id,$event)"><span>{{item.id == currentId? (isEn ? `Put Away` : `收起`)
                          : (isEn ? `open` : `打开`)}}
                        </span></span>
                    </div>
                    <div class="release-time">
                      {{item.gmtModified | formatDate}}
                    </div>
                    <a download="" target="_blank" class="operation" :href="isEn? item.fileEnUrl : item.fileZhUrl" style="text-decoration: none; color: #fff">
                      {{isEn? `Download` : `下载`}}</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- 移动端固件下载 -->
            <div class="select_dialog" @mousedown.self="isSelectDialog = false" v-if="isSelectDialog">
              <div class="container">
                <ul class="tab-bar">
                  <!-- 下拉选项 -->
                  <li class="tab-item active" v-for="item in tabBar1" :key="item.id">
                    <span class="tabs" @click="handleSelect">{{isEn? item.nameEn : item.nameZh}}</span>
                    <div class="content" v-for="selectItem in item.children">
                      <div class="content-item" :class="{' active' : selectItem.id==currentFirmwareId}" @click="handleCheck(selectItem.id, selectItem.nameEn, selectItem.nameZh)">
                        <span>{{isEn? selectItem.nameEn : selectItem.nameZh}}</span>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <!-- 移动端tab栏内容区域 -->
            <div class="content_wrap" v-if="currentState == 1">
              <div class="shaixuan_2" @click="isSelectDialog = true">
                <img class="shaixuan" src="..\..\static\shaixuan.png" alt="">
              </div>
              <div class="content_item" v-for="(item, index) in fileDate" :key="item.id">
                <div class="item_top">
                  <h3>{{ isEn? item.parentNameEn : item.parentNameZh}}</h3>
                  <span>{{isEn? item.nameEn : item.nameZh}}</span>
                </div>
                <div class="item_center">
                  <span class="text" :class="{active : item.id == currentId}" v-html="isEn? item.fileInstructionEn : item.fileInstructionZh"></span>
                  <p class="p1" @click="handleOpen(item.id,$event)">
                    {{item.id == currentId? (isEn ? `Put Away` : `收起`) : (isEn
                    ? `open` : `打开`)}}
                  </p>
                </div>
                <div class="item_bottom">
                  <span>{{isEn ? 'File Size' : '文件大小'}}:
                    {{item.fileSize}}</span>
                  <span>{{ isEn ? 'Release Time' : '推出日期'}}: {{item.gmtModified
                    | formatDate}}</span>
                  <button @click="download(isEn? item.fileEnUrl : item.fileZhUrl)">
                    {{isEn? `Download` : `下载`}}
                  </button>
                </div>
              </div>
            </div>
            <!-- 移动端工具下载 -->
            <div class="tools_downloads_phone" v-if="currentState == 2">
              <div class="tools_content_wrap">
                <div class="content_item" v-for="item in toolsDownloadsData" :key="item.id">
                  <div class="item_top">
                    <!-- <h3>{{ isEn? 'WatsMiner 30S' : '神马矿机 30S'}}</h3> -->
                    <span>{{isEn? item.nameEn : item.nameZh}}</span>
                  </div>
                  <div class="item_center">
                    <span class="text" :class="{active : item.id == currentId}" v-html="isEn? item.fileInstructionEn :
                    item.fileInstructionZh"></span>
                    <p @click="handleOpen(item.id,$event)">
                      {{item.id == currentId? (isEn ? `Put Away` : `收起`) :
                      (isEn ? `open` : `打开`)}}
                    </p>
                  </div>
                  <div class="item_bottom">
                    <span>{{isEn ? 'File Size' : '文件大小'}}:
                      {{item.fileSize}}</span>
                    <span>{{ isEn ? 'Release Time' : '推出日期'}}:
                      {{item.gmtModified | formatDate}}
                    </span>
                    <button @click="download(isEn? item.fileEnUrl : item.fileZhUrl)">
                      {{isEn? `Download` : `下载`}}
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- 工具下载 -->
            <div class="tools-downloads" v-if="currentState == 2">
              <!-- 内容的容器 -->
              <div class="content">
                <!-- 标题的容器 -->
                <div class="title-wrap">
                  <span class="file-name">{{isEn? `File Name` : `文件名`}}</span><span class="file-size">{{isEn? `File Size` : `文件大小`}}</span><span class="instruction">{{isEn? `Instruction` : `描述`}}</span><span class="release-time">{{isEn? `Update time` : `更新时间`}}</span><span class="operation">{{isEn? `Operation` : `操作`}}</span>
                </div>
                <div class="item-wrap">
                  <div class="item" v-for="item in toolsDownloadsData" :key="item.id">
                    <span class="file-name">{{isEn? item.nameEn : item.nameZh}}</span><span class="file-size">{{item.fileSize}}</span><span class="instruction"><span class="text" :class="{active : item.id == currentId}" v-html="isEn? item.fileInstructionEn :
                      item.fileInstructionZh"></span>
                      <span class="open" @click="handleOpen(item.id,$event)"><span>{{item.id == currentId? (isEn ? `Put Away` : `收起`)
                          : (isEn ? `open` : `打开`)}}
                        </span></span></span><span class="release-time">{{item.gmtModified | formatDate}}</span><span @click="download(isEn? item.fileEnUrl : item.fileZhUrl)" class="operation"><a class="download_btn"><span class="download">{{isEn? `Download` : `下载`}}</span></a></span>
                  </div>
                </div>
              </div>
            </div>
            <!-- 移动端产品文档 -->
            <div class="isSelectDialog2" @mousedown.self="isSelectDialog2 = false" v-if="isSelectDialog2">
              <ul class="documentation_phone">
                <li class="documentation_item" v-for="item in productDocumentationNav" :key="item.id" @click="handleCheck2(item.id)">
                  {{isEn ? item.nameEn : item.nameZh}}
                </li>
              </ul>
            </div>
            <div class="product_documentation_phone" v-if="currentState == 3">
              <div class="shaixuan_2" @click="isSelectDialog2 = true">
                <img class="shaixuan" src="..\..\static\shaixuan.png" alt="">
              </div>
              <div class="content_item" v-for="(item, index) in fileDate2" :key="item.id">
                <div class="item_top">
                  <!-- <h3>{{ isEn? 'WatsMiner 30S' : '神马矿机 30S'}}</h3> -->
                  <h3>{{isEn? item.parentNameEn : item.parentNameZh}}</h3>
                  <!-- <span>{{isEn? item.nameEn : item.nameZh}}</span> -->
                </div>
                <div class="item_center">
                  <span :class="{active : item.id == currentId}" v-html="isEn? item.fileInstructionEn : item.fileInstructionZh"></span>
                  <p @click="handleOpen(item.id,$event)">
                    {{item.id == currentId? (isEn ? `Put Away` : `收起`) : (isEn
                    ? `open` : `打开`)}}
                  </p>
                </div>
                <div class="item_bottom">
                  <span>
                    {{isEn ? 'File Size' : '文件大小'}}: {{item.fileSize}}</span>
                  <span>{{ isEn ? 'Release Time' : '推出日期'}}: {{item.gmtModified
                    | formatDate}}</span>
                  <button @click="download(isEn? item.fileEnUrl : item.fileZhUrl)">
                    {{isEn? `Download` : `下载`}}
                  </button>
                </div>
              </div>
            </div>
            <!-- 产品文档 -->
            <div class="product-documentation" v-if="currentState == 3">
              <!-- 左边的导航栏 -->
              <div class="left-wrap">
                <ul class="item-wrap">
                  <li class="item" :class="{'active' : item.id == currentFirmwareId2}" v-for="item in productDocumentationNav" :key="item.id" @click="handleCheck2(item.id)">
                    {{isEn? item.nameEn : item.nameZh}}
                  </li>
                </ul>
              </div>
              <!-- 右边的内容区域 -->
              <div class="right-wrap">
                <div class="title-wrap">
                  <span class="document-name">{{isEn? `File Name` : `文件名`}}</span><span class="file-size">{{isEn? `File Size` : `文件大小`}}</span><span class="instrunction">{{isEn? `Instruction` : `描述`}}</span><span class="release-time">{{isEn? `Update time` : `更新时间`}}</span><span class="operation">{{isEn? `Operation` : `操作` }}</span>
                </div>
                <!-- 每一项 -->
                <div class="item" v-for="item in fileDate2" :key="item.id">
                  <span class="document-name">{{isEn? item.nameEn : item.nameZh}}</span><span class="file-size">{{item.fileSize}}</span><span class="instrunction" v-html="isEn? item.fileInstructionEn : item.fileInstructionZh"></span><span class="release-time">{{item.gmtModified | formatDate}}</span><span class="operation" @click="download(isEn? item.fileEnUrl : item.fileZhUrl,item.id)"><a><span class="download">{{isEn? `Download` : `下载`}}</span></a></span>
                </div>
                <!-- <div class="item">
                                <span class="document-name">Operation instructions for whatsminer tools</span><span
                                    class="file-size">23KB</span><span class="instrunction">Latest version of whatsminer
                                    tool operation guide</span><span class="release-time">2021.10.22</span><span
                                    class="operation"><span class="download">Download</span></span>
                            </div> -->
              </div>
            </div>
          </div>
        </main>
      </div>
      <iframe v-cloak="" src="..\..\public\views\footer.html" frameborder="0" class="footer" id="footer"></iframe>
    </div>
    <script src="..\..\public\js\vue.js"></script>
    <script src="..\..\public\axios\dist\axios.min.js"></script>
    <script src="..\..\public\js\request.js"></script>
    <script src="js\firmware-download.js"></script>
  </body>
</html>
