<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WhatsMiner</title>
  <link rel="stylesheet" href="..\utils\utils.css">
  <link rel="stylesheet" class="link" href="css\forget_password.css?v=2.020220805">
  <script src="..\..\public\axios\dist\axios.min.js"></script>
  <script src="..\..\public\js\vue.js"></script>
  <script src="..\..\public\js\request.js"></script>
  <script src="..\utils\utils.js"></script>
  <link rel="icon" type="image/png" sizes="32x32" href="..\..\static\favicon.ico">
   <!-- Global site tag (gtag.js) - Google Analytics -->
   <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-227533464-1"></script>
 <script>
   window.dataLayer = window.dataLayer || [];
   function gtag() {
     dataLayer.push(arguments);
   }
   gtag("js", new Date());

   gtag("config", "UA-227533464-1");
 </script>
</head>

<div id="app">
  <!-- logo -->
  <a href="..\..\index.html"><img src="..\..\static\logo-white.png" alt="logo" class="logo"></a>
  <div class="wrap" v-cloak="">
    <h1>{{isEn? 'Forget password' : '忘记密码'}}</h1>
    <!-- 单选按钮的容器 -->
    <div class="radio_wrap">
      <div class="item">
        <input type="radio" name="radio" id="email" value="email" v-model="type">
        <label for="email"></label>
        <span>{{isEn? `Email` : `电子邮件`}}</span>
      </div>
      <div class="item">
        <input type="radio" name="radio" id="phone" value="phone" v-model="type">
        <label for="phone"></label>
        <span>{{isEn? `Phone` : `手机号码`}}</span>
      </div>
    </div>
    <!-- 邮箱输入框 -->
    <input type="email" :placeholder="isEn? 'Email' : '邮箱'" class="email" v-if="type=='email'" autofocus="" v-model="email">
    <!-- 手机号输入框 -->
    <input type="tel" :placeholder="isEn? 'Phone' : '手机号码'" class="email" v-if="type=='phone'" autofocus="" v-model="phone">
    <!-- 验证码部分 -->
    <div class="verification_code_wrap">
      <input type="text" class="verification_code" :placeholder="isEn? `Verification Code` : `验证码`" v-model='code'>
      <button type="button" class="getCode pc" @click='getCode' :disabled="!!disabledTime">
        <span>{{disabledTime}}{{isEn? `Get Verification Code` : `发送验证码`}}</span>
      </button>
      <button type="button" class="getCode phone" @click='getCode' :disabled="!!disabledTime">
        <span>{{disabledTime}}{{isEn?(disabledTime?'' : 'send') : (disabledTime?'' : '发送')}}</span>
      </button>
    </div>
    <!-- 密码输入框 -->
    <input type="password" :placeholder="isEn? 'Set up new password' : '设置新密码'" class="password" v-model="newPassword">
    <!-- 再次输入密码输入框 -->
    <input type="password" :placeholder="isEn? 'Repeat new password' : '重复密码'" class="repeat_password" v-model="repeatPassword">
    <!-- 按钮 -->
    <input type="submit" class="sign-in-button" :value="isEn? 'Submit retrieve' : '提交找回'" @click="handleSubmit">
    <a href="javaScript:;" @click="handleSignUpNow" class="sign_up_now">{{isEn? `Sign up now` : `马上登录`}}</a>
  </div>

</div>
<script src="js\forget_password.js?v=2.020220805"></script>


</html>
