<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WhatsMiner</title>
    <link rel="stylesheet" href="..\utils\utils.css">
    <!-- 移动端 -->
    <link rel="icon" type="image/png" sizes="32x32" href="..\..\static\favicon.ico">

    <link rel="stylesheet" class="link" href="css\login.css?v=2.020220805">
    <!-- <script src="https://cdn.bootcss.com/vConsole/3.2.0/vconsole.min.js"></script>
    <script>
      let vConsole = new VConsole()
    </script> -->
    <!-- 验证码程序依赖(必须)。请勿修改以下程序依赖，如使用本地缓存，或通过其他手段规避加载，会影响程序的正常使用。 -->
    <script src="https://ssl.captcha.qq.com/TCaptcha.js"></script>
    <script src="..\..\public\axios\dist\axios.min.js"></script>
    <script src="..\..\public\js\vue.js"></script>
    <script src="..\..\public\js\request.js"></script>
    <script src="..\utils\utils.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-227533464-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-227533464-1");
    </script>
  </head>

  <body>
    <div id="app">
      <!-- logo -->
      <a href="..\..\index.html"><img src="..\..\static\logo-white.png" alt="logo" class="logo"></a>
      <!-- 切换中英文的按钮 -->
      <div class="lang_wrap">
        <span @click="isEn = false" class="CN" :class="{'active' : !isEn}">CN</span>
        <span class="line">|</span>
        <span @click="isEn = true" class="EN" :class="{'active' : isEn}">EN</span>
      </div>
      <div class="wrap" v-cloak="">
        <h1>{{isEn? 'log in' : '登录'}}</h1>
        <!-- 邮箱输入框 -->
        <input type="email" :placeholder="isEn? 'Email or Phone' : '邮箱或手机号码'" class="email" autofocus="" v-model="dataForm.email">
        <!-- 密码输入框 -->
        <input type="password" :placeholder="isEn? 'Password' : '密码'" class="password" v-model="dataForm.password">
        <!-- 忘记密码 -->
        <a href="forget_password.html" class="forget-password">{{isEn? 'Forget the password?' : '忘记密码'}}</a>
        <!-- 按钮 -->
        <input type="submit" class="sign-in-button" :value="isEn? 'log in' : '登录'" data-appid="2065634367" ref="TencentWater">
        <!-- 创建账户 -->
        <a href="register.html" target="_top" class="create-account pc">{{isEn? `No Account, Create Your WhatsMiner Account` :
          '没有帐户，请创建您的WhatsMiner帐户'}}</a>
        <!-- 移动端 -->
        <a href="register.html" target="_top" class="create-account phone">
          <span>{{isEn? `No Account,` : `没有帐户，`}}</span>
          <br>
          <span>{{isEn? `Create Your WhatsMiner Account` :
            `请创建您的WhatsMiner帐户`}}</span>
        </a>
        <!-- or login with -->
        <!-- <span class="or-login-with">{{isEn? `or login with` : `或使用以下方式登录`}}</span> -->
        <!-- icon的容器 -->
        <!-- <div class="icon-wrap">
        <a href="JavaScript:;" onclick="checkLoginState" class="facebook-icon">
          <img src="../../static/bottom-facebook.png" />
        </a>
        <a href="JavaScript:;">
          <img src="../../static/bottom-twitter.png" />
        </a>
      </div> -->
      </div>
    </div>
    <script src="js\login.js?v=2.020220805"></script>

    <!-- facebook登陆相关 -->
    <!-- <script src="https://connect.facebook.net/en_US/sdk.js"></script> -->
    <!-- <script>
    let facebook = document.querySelector(".facebook-icon");
    facebook.onclick = checkLoginState;
    // 获取token
    function statusChangeCallback(response) {
      if (response.status === 'connected') {
        testAPI()
      }
    }
    // 点击facebook图标的回调
    function checkLoginState() {
      FB.getLoginStatus(function (response) {
        // token在这里
        // console.log(localStorage.getItem("token"));
        // localStorage.setItem('token', JSON.stringify(response.authResponse.accessToken))
        console.log(response.authResponse.accessToken);
        statusChangeCallback(response)
      })
    }
    // 初始化
    window.fbAsyncInit = function () {
      FB.init({
        appId: '475385124155315',
        cookie: true, // Enable cookies to allow the server to access the session.
        xfbml: true, // Parse social plugins on this webpage.
        version: 'v12.0' // Use this Graph API version for this call.
      })
    }
    // 获取用户信息
    function testAPI() {
      FB.api('/me?fields=name,first_name,last_name,email,picture,id', function (response) {
        // 用户信息
        // console.log(response);
        let userInfo = {
          avatar: response.picture.data.url,
          email: response.email,
          thirdPartyId: response.id,
          username: response.name
        }
        localStorage.setItem('userInfo', JSON.stringify(userInfo))
        axios({
          url: `/renren-fast/app/fblogin`,
          method: 'POST',
          data: {
            accessToken: JSON.parse(localStorage.getItem('token')),
            avatar: userInfo.avatar,
            email: userInfo.email,
            thirdPartyId: userInfo.thirdPartyId,
            username: userInfo.username
          }
        }).then(res => {
          console.log('res', res)
          if (res.data.code === 0) {
            window.location.href = 'personal.html'
          }
        })
      })
    }
  </script>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script> -->
    <!-- facebook登陆相关 -->
    <!-- <script
      async
      defer
      crossorigin="anonymous"
      src="https://connect.facebook.net/en_US/sdk.js"
    ></script>
    <script async defer>
      let facebook = document.querySelector(".facebook-icon");
      // console.log(FB);

      facebook.onclick = checkLoginState;

      // 获取token
      function statusChangeCallback(response) {
        if (response.status === "connected") {
          testAPI();
        }
      }
      // 点击按钮的回调
      function checkLoginState() {
        FB.getLoginStatus(function (response) {
          // token在这里
          console.log(response);
          localStorage.setItem(
            "token",
            JSON.stringify(response.authResponse.accessToken)
          );
          // console.log(response.authResponse.accessToken);
          // console.log(localStorage.getItem("token"));
          statusChangeCallback(response);
        });
      }
      // 初始化
      window.fbAsyncInit = function () {
        console.log("FB", FB);
        FB.init({
          appId: "475385124155315",
          cookie: true, // Enable cookies to allow the server to access the session.
          xfbml: true, // Parse social plugins on this webpage.
          version: "v12.0", // Use this Graph API version for this call.
        });
      };
      // 获取用户信息
      function testAPI() {
        FB.api(
          "/me?fields=name,first_name,last_name,email,picture,id",
          function (response) {
            // 用户信息
            // console.log(response);
            let userInfo = {
              avatar: response.picture.data.url,
              email: response.email,
              thirdPartyId: response.id,
              username: response.name,
            };
            localStorage.setItem("userInfo", JSON.stringify(userInfo));
            axios({
              url: `/renren-fast/app/fblogin`,
              method: "POST",
              data: {
                accessToken: JSON.parse(localStorage.getItem("token")),
                avatar: userInfo.avatar,
                email: userInfo.email,
                thirdPartyId: userInfo.thirdPartyId,
                username: userInfo.username,
              },
            }).then((res) => {
              console.log("res", res);
              if (res.data.code === 0) {
                alert("登录成功");
                window.location.href = "personal.html";
              }
            });
          }
        );
      } -->
    
  </body>
</html>
