<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WhatsMineruserAgrementData</title>

    <link rel="stylesheet" href="..\utils\utils.css">
    <!-- 移动端 -->
    <link rel="stylesheet" class="link" href="css\register.css?v=2.020220805">
    <link rel="icon" type="image/png" sizes="32x32" href="..\..\static\favicon.ico">
    <!-- 验证码程序依赖(必须)。请勿修改以下程序依赖，如使用本地缓存，或通过其他手段规避加载，会影响程序的正常使用。 -->
    <script src="https://ssl.captcha.qq.com/TCaptcha.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-227533464-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-227533464-1");
    </script>
  </head>

  <body>
    <div id="app">
      <!-- logo -->
      <a href="..\..\index.html"><img src="..\..\static\logo-white.png" alt="logo" class="logo"></a>
      <!-- 切换中英文的按钮 -->
      <div class="lang_wrap">
        <span @click="isEn = false" class="CN" :class="{'active' : !isEn}">CN</span>
        <span class="line">|</span>
        <span @click="isEn = true" class="EN" :class="{'active' : isEn}">EN</span>
      </div>
      <div class="wrap" v-cloak="" v-if="!isShowUserAgreement">
        <h1>{{isEn? `Sign up` : `注册`}}</h1>
        <!-- 用户名 -->
        <input type="text" :placeholder="isEn? `Name` : `用户名`" class="name" autofocus="" v-model.trim="dataForm.username" @blur="verification">
        <!-- 联系电话 -->
        <input type="tel" :placeholder="isEn? `Contact phone number` : `联系电话`" class="contact-phone-number" v-model.trim="dataForm.mobile" oninput="if(value.length>11)value=value.slice(0,11)" min="0" @blur="verification">
        <!-- 邮箱 -->
        <input type="email" :placeholder="isEn? `Email` : `邮箱`" class="email" v-model.trim="dataForm.email" @blur="verification">
        <!-- 发送按钮 -->
        <!-- <input type="button" :value="(isEn? 'Send':'发送') +` `+ time" class="send-button" @click="sendVerificationCode"
        :disabled="isDisabled" /> -->
        <!--点击此元素会自动激活验证码, 此例使用的button元素, 也可以使用div、span等-->
        <!--id :            (不可变) 元素的 ID, 值必须是 'TencentCaptcha'-->
        <!--data-appid :    (必须) 验证码CaptchaAppId, 从腾讯云的验证码控制台中获取, 验证码控制台页面内【图形验证】>【验证列表】进行查看 。如果未新建验证，请根据业务需求选择适合的验证渠道、验证场景进行新建-->
        <!--data-cbfn :     (必须) 回调函数名, 函数名要与 data-cbfn 相同-->
        <!--data-biz-state :(可选) 业务自定义透传参数, 会在回调函数内获取到 （res.bizState）-->
        <input type="button" :value="(isEn? 'Send':'发送') +` `+ time" class="send-button" :disabled="isDisabled" data-appid="2065634367" ref="TencentWater">
        <!-- 验证码 -->
        <input type="text" maxlength="6" :placeholder="isEn? `Verification code`:`验证码`" class="verification-code" v-model.trim="dataForm.emailCode" @blur="verification">
        <!-- 密码 -->
        <input type="password" :placeholder="isEn? `Password`: `密码` " class="password" v-model.trim="dataForm.password" @blur="verification">
        <!-- 再次输入密码 -->
        <input type="password" :placeholder="isEn? `Enter the password again` : `再次输入密码`" class="enter-the-password-again" @blur="verification" v-model="passwordAgain">
        <!-- User agreement 容器 -->
        <div class="user-agreement-wrap">
          <input type="checkbox" v-model="checkbox" id="checkbox" class="checkbox_buttom">
          <label for="checkbox"></label>
          <span @click="isShowUserAgreement = true" class="user-agreement">{{isEn? 'User agreement' : '用户协议'}}</span>
        </div>
        <!-- 注册按钮 -->
        <input type="button" class="register-button" :value="isEn? `Register` : `注册`" @click="submit" ref="submit">
        <!-- 现在登录 -->
        <a href="login.html" class="sign-up-now">{{isEn? 'Sign in now' : '现在登录'}}</a>
      </div>
      <!-- 用户协议 -->
      <div class="wrap user_agreement" v-cloak="" v-else="">
        <h3 class="title">
          {{isEn? userAgrementData.titleEn : userAgrementData.titleCn}}
        </h3>
        <!-- 内容部分 -->
        <div class="content" v-html="isEn? userAgrementData.policyEn : userAgrementData.policyCn"></div>
        <!-- 返回按钮 -->
        <div class="return_button" @click="isShowUserAgreement = false">
          {{isEn? `Return` : `返回`}}
        </div>
      </div>
      <div v-cloak="" class="registration_box" @mousedown.self="isShowbox = false" v-if="false">
        <div class="content">
          <img @click="isShowbox = false" class="close_btn" src="..\..\static\close_tongy.png" alt="close_btn">
          <img class="register_gift" src="..\..\static\register_gift.png" alt="register_gift">
          <h3>{{isEn?'login was successful！' : '登录成功!'}}</h3>
          <p>
            {{isEn? `The red envelope has been placed in "personal Center -
            coupons"` : '红包已经放在“个人中心优惠券”里'}}
          </p>
          <button class="confirm_btn" @click="location">
            {{isEn?'Confirm' : '确定'}}
          </button>
        </div>
      </div>
    </div>
    <script src="..\..\public\axios\dist\axios.min.js"></script>
    <script src="..\..\public\js\vue.js"></script>
    <script src="..\..\public\js\request.js"></script>
    <script src="..\utils\utils.js"></script>
    <script src="js\register.js?v=2.020220805"></script>
  </body>
</html>
