<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WhatsMiner Support Center | WhatsMiner Technical Support,WhatsMiner After-sales</title>
    <meta name="keywords" content="WhatsMiner after-sales, WhatsMiner Tool,WhatsMiner Firmware">
    <meta name="description" content="Welcome to WhatsMiner support center supported by MicroBT. We provide warranty check, WhatsMiner repair, creating repair order,FAQ,WhatsMiner Tool,WhatsMiner firmware download etc.">

    <!-- <link rel="stylesheet" media="screen and (min-width:75px)" href="./css/support.css" />  -->
    <link rel="stylesheet" href="css\support.css?v=2.020220721" class="link">
    <!-- <link rel="stylesheet" media="screen and (min-width:0px) and (max-width:750px)" href="./css/support_750.css" /> -->
    <link rel="icon" type="image/png" sizes="32x32" href="..\..\static\favicon.ico">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-227533464-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-227533464-1");
    </script>
  </head>

  <body ontouchstart="">
    <div id="app">
      <iframe src="..\..\public\views\header.html" frameborder="0" class="header" id="header" v-cloak=""></iframe>
      <div class="message-wrap" v-cloak="" v-if="bannerInfo && bannerInfo.status == 1 && bannerInfo.streamerType == 0 && !isCloseMsg" ref="imgClose">
        <img src="..\..\static\icon\horn-active.png" alt="horn" class="horn">
        <div class="animate_set">
          <span class="message">{{isEn? bannerInfo.contentEn : bannerInfo.contentZh}}</span>
        </div>
        <img src="..\..\static\close-button.png" alt="close" @click="close" class="close-button">
      </div>
      <!-- 头部 -->
      <div class="top" v-cloak="">
        <h1 class="title">
          {{isEn? `Welcome to WhatsMiner Support` : `欢迎来到WhatsMiner支持`}}
        </h1>
        <span>{{isEn? `We are here for you` : `我们在这里等你`}}</span>
      </div>
      <!-- 内容区域的容器 -->
      <div class="wrap" v-cloak="">
        <h3 class="wrap_h3">{{isEn? `Warranty Check` : `保修查询`}}</h3>
        <!-- 搜索的容器 -->
        <div class="search-wrap" v-cloak="">
          <!-- 搜索框 -->
          <div class="toggle_box">
            <div class="search">
              <input type="text" @keydown="searchDate" v-model.trim="searchValue" :placeholder="isEn? `Please input your SN` : `请输入产品编号`">
              <img @click="searchDate" src="..\..\static\search.png" alt="">
            </div>
            <div class="isEN_box">
              <div class="EN_box" @click="isEn = true " :class="{active: isEn}">
                En
              </div>
              <div class="CH_box" @click="isEn = false " :class="{active: isEn == false}">
                中
              </div>
            </div>
          </div>
          <!-- 搜索到的内容容器 -->
          <div class="result-list-wrap" @click="close_select" v-show="isShowSelect">
            <ul>
              <li class="result-item">
                <a href="JavaScript:;">{{msg}}</a>
              </li>
            </ul>
          </div>
        </div>
        <!-- 维修和技术支持部分 -->
        <div class="support-wrap" v-cloak="">
          <!-- 左边的维修部分 -->
          <div class="support-item">
            <h3>{{isEn? `WhatsMiner Repair` : `WhatsMiner维修`}}</h3>
            <span>{{isEn? `Creating repair order, FAQ` :
              `创建维修订单，常见问题解答`}}</span>
            <div class="support-bottom-wrap">
              <a href="JavaScript:;"><img src="..\..\static\search-blue.png">
                <span @click="ShowRepairGuide">{{isEn? `Repair Guide` : `维修指南`}}</span></a>
              <div @click="To(`./repair_process.html`)">
                <span>{{isEn? `Repair` : `维修`}}</span>
                <img src="..\..\static\more-balck.png" class="normal-icon">
                <img src="..\..\static\more-white.png" class="active-icon">
              </div>
            </div>
          </div>
          <!-- 右边的技术支持部分 -->
          <div class="support-item">
            <h3>{{isEn? `Technical Support` : `技术支持`}}</h3>
            <span>{{isEn? `Firmwares, tools and documents download` :
              `固件、工具和文档下载`}}</span>
            <div class="support-bottom-wrap">
              <a href="contact-1.html?from=support"><img src="..\..\static\contact-blue.png"><span>{{isEn? `Contact Customer Service` : `联系客户服务部`}}</span></a>
              <div @click="To(`firmware-download.html`)">
                <span>{{isEn? `Download` : `下载`}}</span>
                <img src="..\..\static\more-balck.png" class="normal-icon">
                <img src="..\..\static\more-white.png" class="active-icon">
              </div>
            </div>
          </div>
        </div>
        <!-- 底部的部分 -->
        <div class="bottom-wrap" v-cloak="">
          <div class="bottom-item" :class="{disabled : saleAfterList[0] && saleAfterList[0].paramValue==0 }" @click="To2(saleAfterList[0] && saleAfterList[0].paramValue,'./announcement.html')">
            <img src="..\..\static\icon\horn-black.png" class="normal" alt="normalIcon">
            <img src="..\..\static\icon\horn-active.png" class="active" alt="activeIcon">
            <span>{{isEn? `Announcememnt` : `公告`}}</span>
          </div>
          <div class="bottom-item" :class="{disabled : saleAfterList[1] && saleAfterList[1].paramValue==0 }" @click="To2(saleAfterList[1] && saleAfterList[1].paramValue,'./more_support.html')">
            <img src="..\..\static\icon\afterSale-black.png" class="normal">
            <img src="..\..\static\icon\afterSale-active.png" class="active">
            <span>{{isEn? `More Support` : `更多支持`}}</span>
          </div>
          <div class="bottom-item" :class="{disabled : saleAfterList[2] && saleAfterList[2].paramValue==0 }" @click=" To2(saleAfterList[2] && saleAfterList[2].paramValue,'./parts.html')">
            <img src="..\..\static\icon\parts-black.png" class="normal">
            <img src="..\..\static\icon\parts-active.png" class="active">
            <span>{{isEn? `Accessories Purchase` : `配件采购`}}</span>
          </div>
          <div class="bottom-item" :class="{disabled : saleAfterList[3] && saleAfterList[3].paramValue==0 }" @click=" To2(saleAfterList[3] && saleAfterList[3].paramValue,'./afterSalesPointInquiry.html')">
            <img src="..\..\static\icon\position-black.png" class="normal">
            <img src="..\..\static\icon\position-active.png" class="active">
            <span>{{isEn? `Service Center Inquiry` : `服务中心查询`}}</span>
          </div>
        </div>
      </div>
      <!-- 维修指南的弹框 -->
      <div class="repair-guide-wrap" v-if="isShowRepairGuide" v-cloak="">
        <div class="main-wrap">
          <!-- 关闭按钮 -->
          <img src="..\..\static\close-button.png" class="close-button" @click="closeRepairGuide">
          <h3 class="title">
            {{isEn? repairGuide.titleEn : repairGuide.titleCn}}
          </h3>
          <div class="content" v-html="isEn? repairGuide.policyEn : repairGuide.policyCn"></div>
        </div>
      </div>
      <div @mousedown.self="是否显示购买配件弹窗 = false" class="购买配件 repair-guide-wrap" v-if="是否显示购买配件弹窗" v-cloak="">
        <div class="main-wrap">
          <!-- 关闭按钮 -->
          <img src="..\..\static\close-button.png" class="close-button" @click="是否显示购买配件弹窗 = false">
          <h3 class="title">
            {{isEn? accessoriesPurchase.titleEn :accessoriesPurchase.titleCn}}
          </h3>
          <div class="content" v-html="isEn? accessoriesPurchase.policyEn : accessoriesPurchase.policyCn"></div>
          <!-- <div class="confirm" @click="是否显示购买配件弹窗 = false">
            {{isEn ? 'Comfirm' : '确认'}}
          </div> -->
        </div>
      </div>
      <iframe src="..\..\public\views\footer.html" frameborder="0" class="footer" id="footer" v-cloak=""></iframe>
      <div class="tab_bar" v-cloak="">
        <a href="..\..\index.html" class="tab_bar_item">
          <img src="..\..\static\tab_bar_home.png" alt="">
        </a>
        <a href="javascript:;" @click="toProduct" class="tab_bar_item">
          <img src="..\..\static\tab_bar_product.png" alt="">
        </a>
        <a href="support.html" class="tab_bar_item">
          <img src="..\..\static\tab_bar_jishu.png" alt="">
        </a>
        <a href="personal.html" class="tab_bar_item">
          <img src="..\..\static\tab_bar_personal%20.png" alt="">
        </a>
      </div>
    </div>
    <!-- <script src="https://unpkg.com/spacingjs" defer></script> -->
    <script src="..\..\public\js\vue.js"></script>
    <script src="..\..\public\axios\dist\axios.min.js"></script>
    <script src="..\utils\utils.js"></script>
    <script src="..\..\public\js\request.js"></script>
    <!-- <script src="../../public/comopnents/headBox.js"></script>
  <link rel="stylesheet" href="../../public/views/css/header.css" /> -->
    <script src="js\support.js?v=2.1"></script>
  </body>
</html>
