@import "../../../public/css/rem.css";
* {
  padding: 0;
  margin: 0;
}
#app {
  width: 100vw;
}
#app .header {
  width: 100vw;
  height: 87px;
  vertical-align: bottom;
}
#app .footer {
  margin-top: 111px;
  width: 100vw;
  height: 399px;
  vertical-align: bottom;
}
.wrap {
  width: 90%;
  margin: 87px auto 0;
}
.wrap.wrap2 .main {
  width: 100%;
}
.wrap.wrap2 .main .content {
  width: 100%;
}
.main {
  width: 100%;
}
.main .crumbs-wrap {
  width: 100%;
  height: 90px;
  border-bottom: 1px solid #d8d8d8;
  display: flex;
  align-items: center;
  justify-content: start;
}
.main .crumbs-wrap a {
  position: relative;
  margin-right: 30px;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-decoration: none;
  color: #000;
}
.main .crumbs-wrap a::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -13px;
  width: 8px;
  height: 8px;
  border: 1px solid #868686;
  border-left-color: transparent;
  border-bottom-color: transparent;
  transform: translateY(-40%) rotate(45deg);
}
.main .crumbs-wrap span {
  font-size: 18px;
  color: #868686;
  line-height: 25px;
}
.main .tabs-wrap {
  margin-top: 48px;
  margin-bottom: 24px;
  box-sizing: border-box;
  height: 40px;
  border-bottom: 1px solid #d8d8d8;
  width: 100%;
  list-style: none;
}
.main .tabs-wrap li {
  position: relative;
  vertical-align: top;
  display: inline-block;
  margin-right: 94px;
  font-size: 20px;
  font-weight: 400;
  color: #6e6e73;
  line-height: 28px;
  cursor: pointer;
}
.main .tabs-wrap li.active {
  color: #4d66ff;
}
.main .tabs-wrap li.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -11px;
  width: 100%;
  height: 2px;
  background-color: #4d66ff;
}
.main .tabs-wrap .shaixuan_2 {
  display: none;
}
.main .air-cooled-server {
  width: 100%;
  display: flex;
}
.main .air-cooled-server ul {
  list-style: none;
}
.main .air-cooled-server ul .tab-item {
  box-sizing: border-box;
  padding: 15px 0;
  position: relative;
  width: 279px;
  cursor: pointer;
}
.main .air-cooled-server ul .tab-item .tabs {
  position: relative;
  display: block;
  font-size: 18px;
  color: #868686;
  line-height: 25px;
}
.main .air-cooled-server ul .tab-item .tabs::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  content: "";
  width: 24px;
  height: 24px;
  background: url("../../../static/select-right.png") no-repeat 0 0 / 100% 100%;
  transition: all 0.3s;
}
.main .air-cooled-server ul .tab-item.active .tabs::after {
  transform: translateY(-50%) rotate(90deg);
}
.main .air-cooled-server ul .tab-item.active .content {
  transition: all 0.3s;
  overflow: hidden;
  max-height: 990px;
}
.main .air-cooled-server ul .tab-item.active .content .content-item {
  box-sizing: border-box;
  padding-left: 48px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 48px;
  font-size: 16px;
  font-weight: 400;
  color: #868686;
  line-height: 22px;
  cursor: pointer;
}
.main .air-cooled-server ul .tab-item.active .content .content-item.active span {
  position: relative;
  color: #4d66ff;
}
.main .air-cooled-server ul .tab-item.active .content .content-item.active span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 2px;
  background: #4d66ff;
}
.main .air-cooled-server ul .tab-item .content {
  transition: all 0.3s;
  overflow: hidden;
  max-height: 0;
}
.main .air-cooled-server ul .tab-item .content .content-item {
  box-sizing: border-box;
  padding-left: 48px;
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  color: #868686;
  line-height: 22px;
  transition: all 0.3s;
  height: 0;
}
.main .air-cooled-server .right-content {
  flex:1;
  margin-left: 44px;
  box-sizing: border-box;
  padding: 24px 34px 40px 36px;
  background: #f5f6fa;
  border-radius: 6px;
}
.main .air-cooled-server .right-content .file-name {
  box-sizing: border-box;
  padding-left: 24px;
  width: 257px;
}
.main .air-cooled-server .right-content .file-size {
  width: 99px;
}
.main .air-cooled-server .right-content .instruction {
  flex:1;
}
.main .air-cooled-server .right-content .release-time {
  width: 228px;
}
.main .air-cooled-server .right-content .operation {
  width: 116px;
}
.main .air-cooled-server .right-content .title-wrap {
  width: 100%;
  line-height: 16px;
  font-size: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #d8d8d8;
  display: flex;
}
.main .air-cooled-server .right-content .title-wrap > span {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  color: #6e6e73;
  line-height: 26px;
}
.main .air-cooled-server .right-content .main-wrap {
  margin-top: 10px;
  background: #f5f6fa;
  font-size: 0;
}
.main .air-cooled-server .right-content .main-wrap .item {
  padding: 12px 0;
  border-bottom: 1px solid #d8d8d8;
  display: flex;
}
.main .air-cooled-server .right-content .main-wrap .item > div {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.main .air-cooled-server .right-content .main-wrap .item .open {
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin-top: 8px;
  font-size: 16px;
  font-weight: 400;
  color: #4d66ff;
  line-height: 22px;
  cursor: pointer;
}
.main .air-cooled-server .right-content .main-wrap .item .open::after {
  transition: 0.3s;
  display: inline-block;
  content: "";
  width: 24px;
  height: 24px;
  background: url("../../../static/select-bottom.png") 0 0 / 100% 100%;
}
.main .air-cooled-server .right-content .main-wrap .item .open.active {
  transform: rotate(180deg);
}
.main .air-cooled-server .right-content .main-wrap .item .instruction .text {
  white-space: pre-line;
  min-height: 48px;
  transition: 0.3s;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.main .air-cooled-server .right-content .main-wrap .item .instruction .text.active {
  display: unset;
  max-height: 500px;
}
.main .air-cooled-server .right-content .main-wrap .item .instruction .text.active + .open::after {
  transform: rotate(-180deg);
}
.main .air-cooled-server .right-content .main-wrap .item .operation {
  display: inline-block;
  height: 32px;
  box-sizing: border-box;
  padding: 5px 18px;
  background: #4d66ff;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  line-height: 22px;
  cursor: pointer;
  text-align: center;
}
.main .content_wrap {
  display: none;
}
.main .tools_downloads_phone {
  display: none;
}
.main .product_documentation_phone {
  display: none;
}
.main .tools-downloads .content {
  margin: 0 auto;
  width: 1268px;
  background: #f5f6fa;
  border-radius: 6px;
  box-sizing: border-box;
  padding: 24px 42px 37px 36px;
  line-height: 16px;
}
.main .tools-downloads .content .title-wrap {
  box-sizing: border-box;
  padding-left: 24px;
  padding-bottom: 10px;
  display: flex;
  border-bottom: 1px solid #d8d8d8;
}
.main .tools-downloads .content .title-wrap span {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  color: #6e6e73;
  line-height: 26px;
}
.main .tools-downloads .content .title-wrap span.file-name {
  width: 217px;
}
.main .tools-downloads .content .title-wrap span.file-size {
  width: 147px;
}
.main .tools-downloads .content .title-wrap span.instruction {
  flex:1;
}
.main .tools-downloads .content .title-wrap span.release-time {
  width: 149px;
}
.main .tools-downloads .content .title-wrap span.operation {
  width: 116px;
}
.main .tools-downloads .content .item-wrap {
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.main .tools-downloads .content .item-wrap .item {
  line-height: 16px;
  padding: 12px 0px 13px 24px;
  border-bottom: 1px solid #d8d8d8;
  display: flex;
  align-items: baseline;
}
.main .tools-downloads .content .item-wrap .item span {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
}
.main .tools-downloads .content .item-wrap .item span.file-name {
  width: 217px;
}
.main .tools-downloads .content .item-wrap .item span.file-size {
  width: 147px;
}
.main .tools-downloads .content .item-wrap .item span.instruction {
  flex:1;
}
.main .tools-downloads .content .item-wrap .item span.text {
  white-space: pre-line;
  max-height: 48px;
  transition: 0.3s;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 28px;
}
.main .tools-downloads .content .item-wrap .item span.text.active {
  display: unset;
  max-height: 500px;
}
.main .tools-downloads .content .item-wrap .item span.text.active + .open {
  display: flex;
  align-items: center;
}
.main .tools-downloads .content .item-wrap .item span.text.active + .open::after {
  transform: rotate(-180deg);
}
.main .tools-downloads .content .item-wrap .item span.text .open {
  display: flex;
  align-items: center;
}

.main .tools-downloads .content .item-wrap .item span.release-time {
  width: 149px;
}
.main .tools-downloads .content .item-wrap .item span.operation {
  width: 116px;
  background: #4d66ff;
  border-radius: 20px;
  padding: 5px 18px;
  cursor: pointer;
  text-align: center;
}
.main .tools-downloads .content .item-wrap .item span.operation .download {
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  line-height: 22px;
}
.main .tools-downloads .content .item-wrap .open {
  white-space: nowrap;
  display: flex !important;
  align-items: center;
  margin-top: 8px;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  color: #4d66ff;
  line-height: 22px;
  cursor: pointer;
}
.main .tools-downloads .content .item-wrap .open::after {
  transition: 0.3s;
  display: inline-block;
  content: "";
  width: 24px;
  height: 24px;
  background: url("../../../static/select-bottom.png") 0 0 / 100% 100%;
}
.main .product-documentation {
  display: flex;
  justify-content: space-between;
}
.main .product-documentation .left-wrap {
  width: 279px;
}
.main .product-documentation .left-wrap .item-wrap {
  width: 100%;
  list-style: none;
}
.main .product-documentation .left-wrap .item-wrap .item {
  width: fit-content;
  height: 56px;
  font-size: 18px;
  color: #868686;
  line-height: 56px;
  white-space: nowrap;
  cursor: pointer;
}
.main .product-documentation .left-wrap .item-wrap .item.active {
  position: relative;
  color: #4d66ff;
}
.main .product-documentation .left-wrap .item-wrap .item.active::after {
  content: "";
  position: absolute;
  bottom: 8px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #4d66ff;
}
.main .product-documentation .right-wrap {
  margin-left: 47px;
  flex:1;
  background: #f5f6fa;
  border-radius: 6px;
  box-sizing: border-box;
  padding: 24px 42px 39px 36px;
}
.main .product-documentation .right-wrap .title-wrap {
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 10px;
  display: flex;
  border-bottom: 1px solid #d8d8d8;
}
.main .product-documentation .right-wrap .title-wrap span {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  color: #6e6e73;
  line-height: 26px;
}
.main .product-documentation .right-wrap .item {
  padding: 10px 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #d8d8d8;
}
.main .product-documentation .right-wrap .item span {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.main .product-documentation .right-wrap .item span.operation {
  box-sizing: border-box;
  padding: 5px 18px;
  background: #4d66ff;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
}
.main .product-documentation .right-wrap .item span.operation .download {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  line-height: 22px;
}
.main .product-documentation .right-wrap .document-name {
  text-indent: 24px;
  width: 374px;
}
.main .product-documentation .right-wrap .file-size {
  width: 99px;
}
.main .product-documentation .right-wrap .instrunction {
 flex:1;
}
.main .product-documentation .right-wrap .release-time {
  width: 149px;
}
.main .product-documentation .right-wrap .operation {
  width: 124px;
}
.download_btn {
  display: inline-block;
  width: 100%;
  height: 100%;
}
