@import '../../../public/css/rem.css';
* {
  padding: 0;
  margin: 0;
}
#app {
  width: 100vw;
  /* 消息容器 */
  /* 小喇叭 */
  /* 中间部分 */
  /* 关闭消息按钮 */
  /* 消息文字 */
}
#app .header {
  width: 100vw;
  height: 87px;
  vertical-align: bottom;
}
#app .message-wrap {
  position: absolute;
  top: 90px;
  left: 0;
  /* animation: moves 0.5s ease infinite; */
  z-index: 10;
  width: 100%;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}
#app .message-wrap .horn {
  width: 24px;
  height: 24px;
}
#app .message-wrap .animate_set {
  position: relative;
  /* transform: translateX(-100%); */
  width: 75%;
  text-align: center;
  display: flex;
  align-items: center;
  padding-left: 24px;
  overflow: hidden;
}
#app .message-wrap .close-button {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
#app .message-wrap .message_11 {
  transform: translateX(1590px);
  max-width: fit-content;
  margin-left: 12px;
  color: #ccc;
  font-size: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  animation: example 15s linear infinite;
}
@keyframes example {
  0% {
    transform: translateX(1590px);
  }
  100% {
    transform: translateX(-100%);
  }
}
#app .footer {
  width: 100vw;
  height: 399px;
  vertical-align: bottom;
}
.wrap {
  margin: 87px 75px;
  display: flex;
}
.wrap .nav-bar {
  flex-shrink: 0;
  display: inline-block;
  margin-top: 135px;
  min-height: 522px;
  vertical-align: top;
}
.main {
  display: inline-block;
  flex:1;
  margin-left: 9px;
}
.main .crumbs-wrap {
  width: 100%;
  height: 90px;
  border-bottom: 1px solid #d8d8d8;
  display: flex;
  align-items: center;
  justify-content: start;
}
.main .crumbs-wrap a {
  position: relative;
  margin-right: 30px;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-decoration: none;
  color: #000;
}
.main .crumbs-wrap a::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -13px;
  width: 8px;
  height: 8px;
  border: 1px solid #868686;
  border-left-color: transparent;
  border-bottom-color: transparent;
  transform: translateY(-40%) rotate(45deg);
}
.main .crumbs-wrap span {
  font-size: 18px;
  color: #868686;
  line-height: 25px;
}
.main .top-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 36px;
}
.main .top-wrap .title {
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
}
.main .top-wrap .clear-all {
  width: 179px;
  height: 40px;
  background: #4d66ff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.main .top-wrap .clear-all span {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  line-height: 22px;
}
.main .top-wrap .clear-all_phone {
  display: none;
}
.main .message-wrap-11 {
  margin-top: 24px;
  margin: 24px 0 65px;
  width: 100%;
}
.main .message-wrap-11 .message-item {
  box-sizing: border-box;
  padding: 36px;
  margin-bottom: 24px;
  width: 100%;
  background: #f5f6fa;
  border-radius: 6px;
  line-height: 16px;
  transition: 0.5s;
}
.main .message-wrap-11 .message-item .top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}
.main .message-wrap-11 .message-item .top .title {
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
}
.main .message-wrap-11 .message-item .top img {
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.main .message-wrap-11 .message-item > div {
  display: flex;
  margin-bottom: 15px;
}
.main .message-wrap-11 .message-item .info,
.main .message-wrap-11 .message-item .date {
  display: block;
  margin-right: 16px;
  font-size: 14px;
  color: #868686;
  line-height: 20px;
}
.main .message-wrap-11 .message-item .message {
  margin-top: 16px;
  margin-bottom: 8px;
  max-height: 500px;
  font-size: 16px;
  line-height: 22px;
  /* 多行文本溢出显示省略号 */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  white-space: pre-line;
}
.main .message-wrap-11 .message-item .message.active {
  display: block;
  max-height: 1000px;
}
.main .message-wrap-11 .message-item .message.active + .open > img {
  transform: rotate(-180deg);
}
.main .message-wrap-11 .message-item .open {
  white-space: nowrap;
  display: flex;
  width: 68px;
  height: 24px;
  cursor: pointer;
  transition: 0.5s;
}
.main .message-wrap-11 .message-item .open span {
  font-size: 16px;
  font-weight: 400;
  color: #4d66ff;
  line-height: 22px;
}
.main .message-wrap-11 .message-item .open img {
  width: 24px;
  height: 24px;
}
.main .message-wrap-11 .message_item_phone {
  display: none;
}
