@import '../../../public/css/rem.css';
* {
  padding: 0;
  margin: 0;
}
#app {
  width: 100vw;
}
#app .header {
  width: 100vw;
  height: 88px;
  vertical-align: bottom;
}
#app .footer {
  width: 100vw;
  height: 399px;
  vertical-align: bottom;
  margin-top: 75px;
}
.wrap {
  margin-top: 87px;
  min-width: 43.3333rem;
}
.wrap .banner_wrap {
  position: relative;
  width: 100vw;
}
.wrap .banner_wrap .phone_img {
  display: none;
}
.wrap .banner_wrap img {
  vertical-align: top;
  width: 100%;
}
.wrap .banner_wrap .text-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1200px;
  color: #fff;
  text-align: center;
}
.wrap .banner_wrap .text-wrap h3 {
  font-size: 32px;
  font-weight: 600;
  line-height: 45px;
}
.wrap .banner_wrap .text-wrap p {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}
.wrap .product_wrap {
  margin: 50px auto 0;
  width: 1267px;
  line-height: 16px;
}
.wrap .product_wrap .title{
	padding-right: 42px;
}
.wrap .product_wrap .title i{font-style: normal;}
.wrap .product_wrap .title:hover{
	cursor: pointer;
}
.wrap .product_wrap .active{
	color:#4D66FF;
}
.wrap .product_wrap .title,
.wrap .product_wrap .total {
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
}
.wrap .product_wrap .total {
  margin-left: 25px;
  font-weight: 400;
}
.wrap .product_wrap .container {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.wrap .product_wrap .container.product_container {display: block;}
.wrap .product_wrap .container .item {
  position: relative;
  width: 616px;
  height: 282px;
  background: #f5f6fa;
  box-sizing: border-box;
  margin-bottom: 36px;
  padding: 24px 0 0 36px;
  line-height: 16px;
  cursor: pointer;
  border-radius: 6px;
}
.wrap .product_wrap .container .product_item{
	position: relative;
}
.wrap .product_wrap .container .product_item:hover{
	background: #4D66FF;
}
.wrap .product_wrap .container .product_item:hover .product_name,.wrap .product_wrap .container .product_item:hover .product_info .info_item  span{
	color:#fff;
}
.wrap .product_wrap .container .item.soldout .product_info_time,.wrap .product_wrap .container .item.spots .product_info_time{
  display: block;
}
.wrap .product_wrap .container .item .product_name {
  position: relative;
  z-index: 99;
  font-size:22px;
  line-height: 30px;
  margin-bottom: 40px;
  color:#000;
  font-weight: normal;
}
.wrap .product_wrap .container .item .product_img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 356px;
  height:243px;
  z-index: 9;
}
.wrap .product_wrap .container .product_item .product_img {
	width: 338px;
	height:230px;
	right:18px;
}
.wrap .product_wrap .container .product_item .product_consultation {
	position: absolute;
	right:37px;
	bottom:29px;
  display: none;
  align-items: center;
  justify-content: center;
  width: 230px;
  height: 40px;
  border-radius: 20px;
  background: #fff;
  color:#000;
  cursor: pointer;
  user-select: none;
  z-index:999;
}
.wrap .product_wrap .container .product_item .product_consultation span{
  display: flex;
  font-size: 16px;
  line-height: 22px;
}
.wrap .product_wrap .container .product_item .product_consultation span::before {
  content: '';
  position: relative;
  top: -0.0333rem;
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 5px;
  background: url('../../../static/购物车备份@2x.png') no-repeat 0 0 / 100% 100%;
}
.wrap .product_wrap .container .product_item:hover .product_consultation{
	display: flex;
}
.wrap .product_wrap .container .product_item .product_consultation:hover{
	background: rgba(255,255,255,0.95);
}
.wrap .product_wrap .container .item .product_img_phone {
  display: none;
}
.wrap .product_wrap .container .item .product_info,
.wrap .product_wrap .container .item .promotion-product_info {
  margin-top: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  height: 90px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.conditions-dialog .el-form{
	display: flex;
	flex-wrap: wrap;
}
.el-dialog__headerbtn .el-dialog__close {
    font-size: 36px;
}
.conditions-dialog .el-form-item{
	width: 50%;
	margin-bottom:5px;
}
.conditions-dialog .remark-item {
    width: 100%;
}
.conditions-dialog .el-dialog{
	width:900px;
	padding: 0px 30px;
	border-radius: 10px;
}
.conditions-dialog .el-dialog__body {
    padding-top: 0px;
}
.el-form-item:nth-child(odd) .el-form-item__content{
	margin-right:30px;
}
.el-form-item:nth-child(odd).remark-item .el-form-item__content {
    margin-right: 0rem;
}
.wrap .product_wrap .container .item .product_info .info_item,
.wrap .product_wrap .container .item .promotion-product_info .info_item {
  display: flex;
  flex-direction: column;
  margin-bottom: 14px;
}
.wrap .product_wrap .container .item.soldout .product_info_time .info_item {margin-bottom: 14px;}
.wrap .product_wrap .container .item .product_info .info_item .title,
.wrap .product_wrap .container .item .promotion-product_info .info_item .title {
  transition: 0.3s;
  font-size: 12px;
  color: #5D5D5D;
  line-height: 17px;
}
.wrap .product_wrap .container .item .product_info .info_item .info,
.wrap .product_wrap .container .item .promotion-product_info .info_item .info {
  display: inline-block;
  margin-top: 4px;
  font-size: 16px;
  color: #000;
  line-height: 22px;
}
.wrap .product_wrap .container .item .product_info_time{
	width: 35%;
	flex-direction: initial;
}
.wrap .product_wrap .container .item .product_info .info_item{
	flex:1;
}
.release-time{margin-top:20px;color:#333333;font-size:16px;}
.release-time p{font-size:16px;color:#4D66FF;margin-top:10px;}
.release-time p i{display: inline-block;margin-right:6px;}
.release-time .last-time{color:#FF2F2F;font-size:12px;margin-top: -35px;
  display: block;}
.release-time .last-time i{font-size:16px;font-style: normal;}
.release-time .countdown-title{margin-top: 16px;font-size: 12px;color:#5D5D5D;}
.status {
	position: absolute;
	right:0px;
	top:15px;
	  display: inline-block;
	  padding: 5px 20px 5px 30px;
	  background: #dbe0ff;
	  border-radius: 16px 0 0 16px;
	  font-size: 16px;
	  font-weight: 500;
	  color: #000000;
	  margin-left:16px;
	  line-height: 22px;
	  z-index: 99;
}
.rushbuy{
	background: #f7c4c8;
	color:#fd4c4c;
}
.spots{
	background: #dbe0fe;
	color:#4D66FF;
}
.somesoon{
	background: #fddec9;
	color:#FF4F00;
}
.futures{
	background: #dbf7ec;
	color:#37D79A;
}
.soldout{
	background: #c4c4c8;
	color:#39393a;
}
#app .wrap .top-wrap .top-right-wrap .price-wrap .price-bottom-phone{
  display: none;
}
.wrap .product_wrap .container .item .product_price {
  display: inline-block;
  margin-top:28px;
  font-size: 20px;
  color:#000;
}
.wrap .product_wrap .container .item .promotion-product_info,
.wrap .product_wrap .container .item .promotion-product_price {
  display: none;
}
.wrap .product_wrap .container .item  .product_info_time{
	 height: auto;
 }
/* .wrap .product_wrap .container .item:not(.sold-out):hover {
  transition: 0.3s;
  background: #4d66ff;
  color: #fff;
}
.wrap .product_wrap .container .item:not(.sold-out):hover .title {
  color: #fff;
}
.wrap .product_wrap .container .item:not(.sold-out):hover .tag {
  background: rgba(255, 255, 255, 0.2);
}
.wrap .product_wrap .container .item:not(.sold-out):hover .tag span {
  color: #ffffff;
} */
.wrap .product_wrap .container .item .tag {
  display: flex;
  align-items: center;
  justify-content: end;
  position: absolute;
  top: 24px;
  right: 0;
  width: 120px;
  height: 32px;
  background: #000;
  border-radius: 90px 0px 0px 90px;
  line-height: 10px;
  text-align: right;
  transition: 0.3s;
}
.wrap .product_wrap .container .item .tag span {
  margin-right: 8px;
  display: inline-flex;
  align-items: center;
  height: 22px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  white-space: nowrap;
}
.wrap .product_wrap .container .item.promotion .product_info,
.wrap .product_wrap .container .item.promotion .product_price {
  display: none;
}
.wrap .product_wrap .container .item.promotion .promotion-product_info {
  display: flex;
}
.wrap .product_wrap .container .item.promotion .promotion-product_info .info_item:nth-of-type(1) .info {
  font-size: 16px;
  font-weight: 500;
  color: #ff2f2f;
  line-height: 22px;
}
.wrap .product_wrap .container .item.promotion .promotion-product_price {
  display: flex;
  justify-content: center;
  margin-top: 22px;
  width: 231px;
  height: 40px;
  overflow: hidden;
  background: #ff2f2f;
  border-radius: 6px;
  box-sizing: border-box;
  outline: 2px solid #ff2f2f;
  line-height: 16px;
}
.wrap .product_wrap .container .item.promotion .promotion-product_price .left {
  flex: 1;
  display: flex;
  justify-content: center;
  border-radius: 6px 0 0 6px;
  align-items: center;
  background: #fff;
}
.wrap .product_wrap .container .item.promotion .promotion-product_price .left .old_price {
  font-size: 16px;
  font-weight: 400;
  color: #868686;
  line-height: 22px;
  text-decoration: line-through;
}
.wrap .product_wrap .container .item.promotion .promotion-product_price .left .new_price {
  margin-left: 9px;
  font-size: 20px;
  font-weight: 500;
  color: #ff2f2f;
  line-height: 28px;
}
.wrap .product_wrap .container .item.promotion .promotion-product_price .right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  line-height: 22px;
}
.wrap .product_wrap .container .item.promotion .tag {
  background: #f7c4c8;
}
.wrap .product_wrap .container .item.promotion .tag span {
  color: #ff2f2f;
}
.wrap .product_wrap .container .item.pre-order .tag {
  background: rgba(55, 215, 154, 0.2);
}
.wrap .product_wrap .container .item.pre-order .tag span {
  color: #37d79a;
}
.wrap .product_wrap .container .item.spot-order .tag {
  background: rgba(77, 102, 255, 0.2);
}
.wrap .product_wrap .container .item.spot-order .tag span {
  color: #4d66ff;
}
/* .wrap .product_wrap .container .item.coming-soon {
  cursor: no-drop;
} */
.wrap .product_wrap .container .item.coming-soon .tag {
  background: rgba(255, 79, 0, 0.2);
}
.wrap .product_wrap .container .item.coming-soon .tag span {
  color: #ff4f00;
}
/* .wrap .product_wrap .container .item.sold-out {
  cursor: no-drop;
} */
.wrap .product_wrap .container .item.sold-out .tag {
  background: rgba(0, 0, 0, 0.2);
}
.wrap .product_wrap .container .item.sold-out .tag span {
  color: #000;
  opacity: 0.8;
}
.wrap .product_wrap .shopping_cart {
  display: none;
}
.conditions-dialog .el-dialog__footer {
    text-align: center;
    padding-bottom: 40px;
}
.el-button{
	min-width: 170px;
	background-color: transparent;
	border-color: #000;
	color:#000;
}
.el-button:hover{
	background-color: transparent;
	border-color: #4D66FF;
	color:#4D66FF;
}
.el-button--primary{
	background-color: #4D66FF;
	border-color: #4D66FF;
	color:#fff;
}
.el-button--primary:hover{
	background-color: #4185f8;
	border-color: #4185f8;
	color:#fff;
}
.button-dialog {
  background: #dad7d7;
  border-color: #dad7d7;
}
.button-dialog:hover{
	background-color: #E3E3E3;
	border-color: #E3E3E3;
	color:#000;
}
.el-input-group__append, .el-input-group__prepend{
  background: none;
}
.el-form{
	display: flex;
	flex-wrap: wrap;
}
.product_item{
	display: block;
}
.product_item_list{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.el-dialog__title {
  font-size: 22px;
}

@media screen and (max-width: 1700px) {
  .wrap .product_wrap .title, .wrap .product_wrap .total{
    font-size:15px;
  }
  .wrap .product_wrap .container .item .product_name{
    font-size:18px;
  }
  .wrap .banner_wrap .text-wrap h3{
    font-size:20px;
  }
  .wrap .banner_wrap .text-wrap p{
    font-size:16px;
    line-height: 30px;
  }
  .wrap .product_wrap .container .item .product_info .info_item .info, .wrap .product_wrap .container .item .promotion-product_info .info_item .info,.wrap .product_wrap .container .product_item .product_consultation span{
    font-size:14px;
  }
  .wrap .banner_wrap .text-wrap{
    width: 80%;
  }
}